[2014-08-22 12:01] manuchap opened #1 "Warning: Cannot load LoopBack app server/server.js Use --force to continue."
Firstly, thanks a million for this fantastic app!!!
I have it working but some dependencies were not met at first grunt.
Doing a PR with modified package file.

(for future readers who might bumb into an `Error: listen EADDRINUSE` after a successful grunt, try the following to kill running npm tasks you might have launched by trying stuff:

[code]

[2014-09-03 08:42] kfrederix opened #3 "Cross-origin errors"
When following the install instructions on latest version, I ended up with cross-origin errors:
"XMLHttpRequest cannot load http://0.0.0.0:3000/api/settings. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:9000' is therefore not allowed access."

I think loopback 2.0 should have CORS enabled by default, so any ideas what might be the problem h

[2014-09-03 23:36] #1 closed, assigned to nobody

[2014-10-18 09:36] rborn opened #6 "AdminLTE"
Hi,
I saw you want to change the template at a later stage.
What about this one? https://github.com/almasaeed2010/AdminLTE

Just an idea ;)
Thank you

[2014-10-20 09:21] rborn opened #7 "Cannot install"
Hi,
The **bower install** command returned an error, any idea what it could be?
Thank you :)

[code]

[2014-10-20 14:48] #7 closed, assigned to nobody

[2014-10-22 17:57] ahinlegen opened #8 "Install Error"
Hi beeman,
I'm new to node, angular and all the stuff. I would like to learn a lot from your great app, but I can't install it. After my first try, I changed a line in the package.json
from:
 "grunt-ngmin": "^0.0.3",
to:
 "grunt-ng-annotate": "^0.4.0",
because of a npm error-message.
In my second try, I get this:

...
codemirror#3.21.0 client\app\bower_components\codemirror

font-awesome#4.1.0 cli

[2014-10-22 22:50] #3 closed, assigned to nobody

[2014-10-29 12:24] #8 closed, assigned to nobody

[2014-11-12 13:00] lesz3k opened #9 "error when trying to run the application"
Hi,
After following all the instructions from the installation steps, when going to the last line: npm start & grunt serve, I am getting some errors in the terminal, and although the page loads with the login, I can't do anything: login is not working, and I am stuck on the login page. There was a yellow error box on the login page with 401 error.
The errors in node I get:

events.js:72
        th

[2014-11-29 14:54] #9 closed, assigned to nobody

[2014-12-17 11:55] gavinengel opened #12 "heroku issue"
When I try to create a heroku instance via your description link I see this (creation fails):

There was a problem with the app.json file found at "https://github.com/beeman/loopback-angular-admin/blob/master/README.md":
No app.json located in the repo URL provided. Are you sure the URL is correct and that an app.json file exists in the project root directory?

[2014-12-17 11:59] gavinengel opened #13 "existing LB APIs?"
If we have existing Loopback projects how do we incorporate your admin?  Would it be possible to pull this repo apart so that the admin itself is a separate repo, and we simply can use this?  I imagine we just focus on your client folder.. But it would be nice if that was its own distinct project to make pulling your future updates simpler.

[2014-12-17 20:02] macbroadcast opened #14 "Error: ENOENT errno 34"
hey there, i am exited about to install and i did everything like you discribed, test worked fine

Execution Time (2014-12-17 19:52:37 UTC)
jshint:all                 576ms  ▇ 3%
loopback_angular:services   2.2s  ▇▇▇▇ 11%
docular                     9.7s  ▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇▇ 47%
wiredep:app                320ms  ▇ 2%
concurrent:dist             7.2s  ▇▇▇▇▇▇▇▇▇▇▇▇▇ 35%

but
/loopback-angular-admin/se

[2014-12-18 05:28] #6 closed, assigned to nobody

[2014-12-18 05:57] #14 closed, assigned to nobody

[2014-12-18 13:07] #13 closed, assigned to nobody

[2014-12-31 04:21] #12 closed, assigned to nobody

[2015-01-15 12:22] ulion opened #18 "Failed when use the deploy to heroku function in the github project main page"
the last error message is:

       jquery#2.1.3 client/app/bower_components/jquery

       ionicons#1.5.2 client/app/bower_components/ionicons
       [31m>> [39mLocal Npm module "grunt-angular-gettext" not found. Is it installed?
       [31m>> [39mLocal Npm module "grunt-angular-gettext" not found. Is it installed?
       [31m>> [39mLocal Npm module "grunt-include-source" not found. Is it ins

[2015-01-15 12:41] ulion commented on #6
where is the branch now?

[2015-01-15 12:43] rborn commented on #6
Is the master I think

[2015-01-15 12:43] ulion opened #19 "Any datatable integration?"
As an admin ui, data table is a required feature, is there any integration?

[2015-01-15 12:49] ulion commented on #6
Oh, yes, it should be.

[2015-01-15 13:15] beeman commented on #19
Good point, i'll start integrating [ng-grid](http://angular-ui.github.io/ng-grid/) right away!

[2015-01-15 13:16] beeman commented on #19
Or rather it's successor [ui-grid](http://ui-grid.info/) :)

[2015-01-15 13:22] beeman commented on #6
Yep, it's merged and deleted :)

[2015-01-16 07:37] beeman commented on #18
There where some packages missing from the package.json file.

The issue now is that grunt-include-source does not include the right Javascript files, i'm working on it!

[2015-01-16 07:39] ulion commented on #19
I noticed ng-admin has good datatable integration, you may check it.

2015-01-15 21:16 GMT+08:00 Bram Borggreve <notifications@github.com>:

--
Ulion

[2015-01-16 10:06] beeman commented on #19
It looks like ng-admin has a custom-made solution so I went for the ui-grid option.

Just implemented it, I have a demo in the Sandbox :)

[2015-01-16 12:28] beeman commented on #18
Took some work but it looks like it's working again now :)

[2015-01-16 23:50] movibe opened #25 "Add vagrant?"
I found these links to test and add to the project, but I'm not the vagrant on my mac, does anyone could test and post to merge?

https://github.com/illuminatedweb/vagrant-loopback

https://github.com/nickleus73/vagrant-loopback-ubuntu-14-04

[2015-01-17 02:03] movibe commented on #18
Deploy in Heroku, the last version https://admin-io.herokuapp.com/

[2015-01-17 07:14] beeman commented on #25
Great! I'm working on Vagrant support as we speak, I will look at this links too!  :)

[2015-01-17 22:37] ulion commented on #18
Great, thank you!

2015-01-17 10:03 GMT+08:00 Willian Ribeiro Angelo <notifications@github.com>
:

--
Ulion

[2015-01-22 12:24] paulvanbladel opened #32 "Brilliant ! Making things isomorphic would make it shine !"
Dear Bram,

Really great approach and I'm still exploring. I've done some research in strongloop/loopback and I'm really convinced they offer a rock solid foundation for all types of business application (or call it line of business apps).

The real beauty could get in when going the full isomorphic path.
I'm seeing currently a few examples:
1. Validation logic : usually validation logic client si

[2015-01-22 18:49] movibe commented on #18
Close Issue?

[2015-01-23 10:22] paulvanbladel opened #33 "when doing a full F5 refresh the left corner icon disappears"
I know, in a SPA one should not do a full refresh (but users do)
![image](https://cloud.githubusercontent.com/assets/4886272/5873002/f72a27b4-a2f1-11e4-9b80-70f8ad62d1bf.png)
As you can see, the user info panel gets messed up.
Cheers
paul.

[2015-01-23 10:34] vdphuong opened #34 "up file error"
events.js:72
        throw er; // Unhandled 'error' event

[2015-01-23 11:15] #18 closed

[2015-01-23 11:15] #19 closed

[2015-01-23 13:58] beeman commented on #33
Thanks for this issue! Should be fixed in the 'develop' branch! :)

[2015-01-23 14:05] beeman commented on #32
Hello Paul,

Thanks a lot for your kind words regarding this project! I also think that Strongloop offers some great software, Loopback has already saved me a lot of time while playing around with REST api's and related stuff.

I fully agree with the examples that you gave. I think there will be a lot of gain when the Loopback models are getting more intelligent, and this is something that is need

[2015-01-23 14:07] beeman commented on #34
Hi @vdphuong,

Could you please send some more info on how to reproduce this error?

In the main project there is not a file called events.js, so i'm curious where the error comes from.

Thanks in advance!

[2015-01-23 15:32] paulvanbladel commented on #32
Hi Bram,
Yeah, for pure line of business (close to Crud or with medium complexity) there is definitely a need for:
a) generating the 'skeleton' of screens in such a way the boilerplate can be scaffold-ed  and can be fine-tuned/reorganised. The reason why I'm not that much attracted by formly-alike generators is (apart from the fact you lose 'degrees of freedom' in screen design') because I see thi

[2015-01-23 20:21] tamitutor opened #35 "Angular Submodule Generator"
Greetings,

This is an extremely helpful project to get a workflow going for an enterprisey, full-stack app.  Thank you very much for making it publicly accessible!

However, based on the architectural layout and design of the Angular.js portion, I'm left with a lingering question:
Did you use a yeoman generator for your Angular.js submodules, and if so what did you use?

I cannot find any documen

[2015-01-24 02:48] vdphuong commented on #34
Thank you for viewing my posts!
I figured out the cause
folder Strong in your example lack of File folder

[2015-01-24 09:15] paulvanbladel commented on #32
I'll try to experiment with the above ideas and keep you posted.

[2015-01-24 15:25] beeman commented on #34
Thanks, i've added the folder to the project!

https://github.com/beeman/loopback-angular-admin/commit/b2d87a3e0f158a5863f2edd5d211dccb94da194a

[2015-01-24 15:25] #34 closed

[2015-01-24 15:31] beeman commented on #35
Hi Tami,

Thanks for your kind words regarding this project, I'm glad to hear that it is useful for you! :)

I indeed started with the generator-angular generator, but thanks to @movibe the project now has a different structure.

The modules are way better structured now, the only downside is that the generator stopped working.

It would be great to have a generator that works with this project, I

[2015-01-24 15:50] beeman commented on #32
Thanks for your input Paul, i'm looking forward to see what the design you are talking about looks like, and how it would help mature the project.

Regards,
Bram

[2015-01-24 21:53] tamitutor commented on #35
Hi @beeman,

Thank you for your helpful feedback.  In order to duplicate the elegant structure you have here, I'm actually thinking a grunt task could do it--for now.  It is more of a hack than a long-time solution (ie. generator) but it will utilize the following:

1. Utilize a command line call to execute the Mean.js AngularJS Module Sub-Generator (@http://meanjs.org/generator.html#angular-modul

[2015-01-24 21:53] #35 closed

[2015-01-25 08:44] paulvanbladel opened #37 "left menu should be scrollable for smaller screen factors."
On a 8 inch tablet, the last  menu items are not visible.
the scrolling on the main region works like a charm.
cheers

[2015-01-25 08:46] #33 closed

[2015-01-25 08:46] #32 closed

[2015-01-25 16:51] tuanpmt commented on #33
I think problem is not solved, when i refresh, I do not find the login information is stored. token is not stored in cookies. You must save the login token into cookies when logged, and use it to log in and retrieve user information every time refresh the webpage.

[2015-01-26 09:11] paulvanbladel opened #39 "Question: start version of grunt file"
I'm wondering, is there a specific version of the grunt file that you took as 'start' and on which you added e.g. the lb-services generation grunt task or did you design the gruntfile completely from scratch ?

[2015-01-26 11:15] paulvanbladel opened #40 "Main panel (e.g. products) has scrollbar even when not necessary"
Even when there are only 2 items and a lot of screen estate left, there is a scroll bar.

Also the title (e.g; Product Manage your products here!) disappears when scrolling.

Have a great day.
paul.

[2015-01-26 20:01] beeman commented on #25
I've started this [branch](https://github.com/beeman/loopback-angular-admin/tree/feature/vagrant). It's not completely working yet, but the start is here.

[2015-01-27 06:29] gowram opened #42 "Logout session is not working..."
when i tried logout and pressed back button, i still have have access to previous session, it seems that session is not deleted...

Regards
Rama.

[2015-01-27 13:22] beeman commented on #42
@movibe do you have time to check out this issue? :) If not, i'll take a look at it!

[2015-01-27 13:41] beeman commented on #40
Will be fixed together with issue #37

[2015-01-27 13:41] #40 closed

[2015-01-27 13:41] beeman commented on #37
Temporary fix is that you select the 'scrolling' layout in Dashboard -> Theme.

I'm also not happy with how this works so I will have to dive into enhancing it. Issue is related to #40 .

[2015-01-27 13:43] beeman commented on #39
The initial version of the Gruntfile is based on the angular-generator.

It has since been enhanced with the specific requirements of this project.

[2015-01-27 14:14] paulvanbladel commented on #39
thanks Bram !

[2015-01-27 14:14] #39 closed

[2015-01-27 15:57] movibe commented on #42
Yes @beeman , I will send new fixes and a new module chat with socket.io for you to analyze

[2015-01-27 16:26] beeman commented on #42
Awesome @movibe , really looking forward to that!  Could you send it in two separate branches?

[2015-01-27 17:50] movibe commented on #42
Yes! @beeman :-)

[2015-01-27 22:28] beeman commented on #42
@gowram could you check if #43 fixed this?

[2015-01-28 10:48] gowram commented on #42
Thanks guys it working fine right now..
thanks for your quick fix.

[2015-01-28 10:48] #42 closed

[2015-02-02 03:12] vdphuong opened #46 "acls"
i chage acls in event.json file to:

{
      "accessType": "*",
      "principalType": "ROLE",
      "principalId": "$everyone",
      "permission": "DENY"
    },
    {
      "accessType": "*",
      "principalType": "ROLE",
      "principalId": "admin",
      "permission": "ALLOW"
    },
    {
      "accessType": "READ",
      "principalType": "ROLE",
      "principalId": "$authenticated",

[2015-02-05 15:15] sfakir opened #47 "Deployment script for Amazon EC2"
Hi,
would be awesome if there is a single Amazon EC2 Installation and Deployment script.

(maybe even push the Assets to S3 instead of putting it on the server.)

[2015-02-09 09:21] denzelwamburu opened #49 "Error while installing on Ubuntu"
Hey,
Thanks for the great work i am looking to integrate the project to my site but while installing it renders the error below

events.js:72
        throw er; // Unhandled 'error' event
              ^
Error: listen EADDRINUSE
    at errnoException (net.js:905:11)
    at Server._listen2 (net.js:1043:14)
    at Server._listen2 (/home/wamburu/Documents/loopback-angular-admin/node_modules/loopback/n

[2015-02-09 13:53] macbroadcast commented on #49
hi @denzelwamburu , it means the address you are trying to bind the server to is in use.
Close the program using that port.
Run:
ps -ax | grep node
You'll get something like:
60778 ??         0:00.62 /usr/local/bin/node abc.js
Then do:
kill -9 60778

hope this helps

[2015-02-10 02:50] beeman commented on #37
As I was not completely happy with the AdminLTE theme that I implemented, I've implemented [rdash-angular](https://github.com/rdash/rdash-angular) in a [temporary branch](https://github.com/beeman/loopback-angular-admin/tree/feature/improved-layout).

This template has much less bloated than AdminLTE and it supports the resizing on smaller devices very well.

Please let me know what you think of i

[2015-02-10 02:51] beeman commented on #37
Of course @movibe @macbroadcast @bmcintyre @rhalff @rborn (and everybody else) are more then welcome to discuss this too! :)

[2015-02-10 04:12] beeman commented on #37
I have a demo online on Heroku: http://loopback-rdash.herokuapp.com/

[2015-02-10 08:38] paulvanbladel commented on #37
Very nice !
For those not knowing username password: admin@admin.com / admin.
The left menu scroll bar is doing the job.
Maybe the windows mobile alike tiles in the AdminLTE were a bit more sexy, but that's probably just a matter of taste.

[2015-02-10 09:47] denzelwamburu commented on #49
@macbroadcast Thanks i got  7590 and  8952, but i killed them and managed to install it.
The route /explorer is working well but localhost:3000 returns errors from express i don't know what am missing.
404 Error: Cannot GET /

       at raiseUrlNotFoundError (/home/wamburu/Documents/panel/loopback-angular-admin/node_modules/loopback/server/middleware/url-not-found.js:15:17)
       at Layer.handle

[2015-02-10 13:23] movibe commented on #37
It was much better.
I would like you to take a look also in a version with the Gulp instead of Grunt, where I added the Less version of the original theme Admin LTE and some improvements.

[2015-02-10 13:29] beeman commented on #37
@paulvanbladel I agree that the tiles of AdminLTE looked better, i'll merge them along with some other stuff.

[2015-02-10 13:36] beeman commented on #37
@movibe i've looked at your Gulp version, which does look very nice! I am thinking about moving to gulp instead of Grunt anyway.

The thing that I don't like about AdminLTE is that it is too bloated, there are simply too many options that won't be implemented in this base project. Next to that the interface is buggy (especially on small screens) and very picky about how it's implemented, I had to

[2015-02-10 13:49] movibe commented on #37
I'm glad you liked my version, just could not solve the dependency error and since you would like to ask you if you could help me solve?

As for AminLTE, imagine that you have used it to be free, but what I wanted to add was more the advantage of compiling Less version and give the freedom to easily change the theme to use in other projects without the need to have large changes in CSS, and added

[2015-02-10 15:58] beeman commented on #37
@movibe Your English is still better than my Portuguese :)

I guess I'll take this route for now and implement some of the other stuff that AdminLTE offers.

If you can than rebase the gulp version to the new layout I'll check and implement it too!

[2015-02-11 16:10] paulvanbladel opened #51 "Idea: sails as backend"
Bram,

Did you ever consider using Sails as backend ? http://sailsjs.org/
I like loopback but I feel more attracted to sailsJS, which is real convention over configuration.
SailsJS = keep it simple. Loopback not always :)

[2015-02-11 19:40] macbroadcast commented on #51
Loopback is the future , sails is just a trend, so keep everything like it is ;) cheers

[2015-02-12 01:40] beeman commented on #49
@denzelwamburu did you do a grunt build?

[2015-02-12 01:45] beeman commented on #51
Hi Paul,

I have looked at Sails too but personally I prefer Loopback.

The things that I like about it include the ability to connect to other REST API's natively, the integration with AngularJS feels like magic, there are some powerful integrations like the file upload and e-mail.

Sails includes stuff like server side rendering which to me is unneeded.

The thing that I do like about Sails is t

[2015-02-12 01:48] beeman commented on #47
Hi @sfakir ,

I'd love to have this added in the project too, but as I'm not using EC2 myself it has no priority for me at the moment.

Feel free to send a pull request that implements it. I'll happily test and merge it if it works!

[2015-02-12 10:10] paulvanbladel commented on #51
Hi Bram,
Very much appreciated learning your point of view on sailsJs.
Thanks
paul.

[2015-02-12 10:10] #51 closed

[2015-02-12 16:23] macbroadcast commented on #49
hi @denzelwamburu and @beeman I can reproduce the error on ubuntu :

` > loopback-angular-admin@0.1.1 start /home/macbroadcast/development/loopback-angular-admin

Creating roles and users
Creating categories and products
Configuring passport
Running app in development mode
Creating default settings
Browse your REST API at http://localhost:3000/explorer
Web server listening at: http://localhost:300

[2015-02-12 23:24] lennybr commented on #37
I definitely second the switch to rdash-angular, a much lighter framework to expand on!

[2015-02-17 00:15] beeman commented on #49
Could you please do a clean install of the current master to see it that fixes this issue?

    $ git clone git@github.com:beeman/loopback-angular-admin.git
    $ cd loopback-angular-admin
    $ npm install
    $ grunt build
    $ npm start

The project should now run on http://localhost:3000/.

I'm not sure why the `grunt build` step is still required, as it is defined in the `package.json`'s pos

[2015-02-18 11:28] gowram opened #56 "is there any update on using angular-formly 3.1.0"
I would like to know, are they any plans to upgrade angular-formly 3.1.0 implementation?

[2015-02-18 11:46] beeman commented on #56
I might upgrade it or might start using [angular-schema-form](https://github.com/Textalk/angular-schema-form), which is used by another project I look at working on.

I will compare the two and pick the one that suits the project best.

[2015-02-21 07:13] denzelwamburu commented on #49
Hi @beeman i have tried the new one.Grunt builds without errors but the home page is blank.Appending a url like /auth/settings returns an error.

[2015-02-24 17:46] cristianquaglio commented on #14
hi everybody
can somebody help me?
I want to install loopback like the official site says
but that dont works for me
npm ERR! Additional logging details can be found in:
npm ERR! /home/usuario/npm-debug.log
npm ERR! not ok code 0
the directory have write permissions, what happs??

[2015-02-27 16:21] brunocascio commented on #46
+1

[2015-03-05 14:30] edlau opened #57 "Grunt image filerev not updated in views"
If you build the project under production mode, the html in dist/modules/**/views/ doesn't point to the renamed image files. This also applies to the country flags in the top nav.

[2015-03-24 23:01] movibe opened #58 "ACL Implementation"
Hi @beeman , i found this project in a group of NodeJS Brazil on Facebook, it would be nice if we could make an example of you guys using the Loopback

http://jedireza.github.io/drywall/

[2015-04-03 23:04] pulkitsinghal opened #59 "Observations for README betterment"
1. Folks may not immediately realize that running `npm start & grunt serve` spits out a PID which they can use to kill the server side of things. And that the rest of the logs are about the deployment and we start watching the client for changes.
  1. For the first few minutes, users may find themselves scratching their heads after hitting `ctrl+c` and trying the same step again ... as to why the

[2015-04-05 16:23] pulkitsinghal opened #61 "Detect if API is online"
Saw this in the TODOs, did some research ... realized I wasn't up to finishing the task ... thought it might be useful to jot down any notes, doubts and open questions semi-permanently. They get a bit lost in gitter.

1) Should https://github.com/HubSpot/offline be written as an angular service and/or injected into `app.run` in a format that somewhat resembles: http://pterkildsen.com/2012/12/12/an

[2015-04-12 04:58] srisub commented on #59
I ran into the running process issue as well. You can just kill the node process - pid can be figured out via command line (e.g. ps -ax | grep node) and to confirm you can correlate it with what you see in the Activity Monitor / task manager - see attached.
![screenshot 2015-04-11 21 30 14](https://cloud.githubusercontent.com/assets/1392314/7104442/eea46f0a-e095-11e4-8e50-d6d6d34315df.png)

[2015-04-13 21:53] jaypatel512 opened #62 "Dropdown for Category in Products"
As shown in the image below, in `Add/Edit Product` form, the category field is a textbox asking for ID. It would be amazing if there was a way to provide a drop down there. I think of this issue as an enhancement. Being new to Node, and specially loopback, I will try my best to come up with a solution, but any suggestions would be advisable.

![screen shot 2015-04-13 at 4 52 19 pm](https://cloud.g

[2015-04-14 19:34] moodyserious opened #63 "Hi"
Can you explain me the code?

[2015-04-14 23:14] beeman commented on #63
If you come to the [chat room](https://gitter.im/beeman/loopback-angular-admin) and if you can tell me what is unclear I'll try and explain it :)

[2015-04-14 23:14] #63 closed

[2015-04-16 13:40] danyaegoist opened #65 "grunt doesn't work"
this line doesn't work API_URL=http://0.0.0.0:3000/api grunt

[2015-04-16 14:11] beeman commented on #65
Did you follow the instructions in the README?

Do you get an error message while trying? If so, what does it say?

[2015-04-16 14:13] danyaegoist commented on #65
i dont have errors. Grunt doesn't chang url_api

2015-04-16 17:11 GMT+03:00 Bram Borggreve <notifications@github.com>:

[2015-04-16 14:14] beeman commented on #62
This is something that needs be done. Most of the work would be on the Angular side.

At first the form engine needs to be upgraded.

After that the form needs to have a select box filled with the categories, and it needs to preselect the option that is selected (3 in the case of this screenshot).

The list of categories can be easily fetched from the LoopBack API.

I'll upgrade the form engine so

[2015-04-16 14:15] beeman commented on #65
What about `API_URL=http://0.0.0.0:3000/api grunt build`  of `API_URL=http://0.0.0.0:3000/api grunt serve` ?

[2015-04-16 14:16] danyaegoist commented on #65
i build another ip

2015-04-16 17:15 GMT+03:00 Bram Borggreve <notifications@github.com>:

[2015-04-16 15:11] danyaegoist commented on #65
in both

[2015-04-17 15:58] danyaegoist opened #66 "Migration"
How to migrate into mongodb?
i installed connector
change source to mongo with correct data and get from npm start:
"Loading existing settings"

[2015-04-18 08:10] Masatoshi opened #67 "ui-router loop forever"
hi. If api is down, ui-router cause looping between "/login" and "/router".

client/app/modules/users/config/users.auth.js

    if (rejection.status === 0) {
            $location.path('/');  // it cause loop forever
            CoreService.toastError('Connection Refused',
              'The connection to the API is refused. Please verify that the API is running!'
            );
    }

[2015-04-22 20:55] drmikecrowe opened #68 "latest grunt-connect-proxy broken"
I'm seeing this:

[code]

Found [this grunt-connect-proxy](https://github.com/drewzboto/grunt-connect-proxy/issues/97) bug.

I resolved by manually:

[code]

[2015-05-05 15:14] OwenBrotherwood opened #70 "Other user(s) password available to guest (user@user.com)"
I found that, after I registered my own email, I could see my password as guest via the web interface.

Is this known?
If not, give me a pointer so I can see if I can make a PR.

Note: admin password is not shown if one is guest

[2015-05-08 02:54] LetsDoIt- opened #71 "User Register saves confirmpassword to the file (database)"
Hi,
I have activated file system to view the data
{
  "db": {
    "name": "db",
    "connector": "memory",
    "file" : "db.json"
  }
}

When I created a new user using the Register screen I noticed that the "confirmPassword" property of the form also gets persisted to the file. Also it is in the text format so I am pretty sure this shouldn't be present.

[2015-05-12 23:34] adriatic opened #74 "Adding support for Stormpath"
While it is pretty obvious (at least from my viewpoint) that LoopBack is the best overall NodeJS framework, it is quite thin on the "client side". This ```loopback-angular-admin``` is the best proof of my assessment -- since I found this project getting ready to create an extension of LoopBack Yeoman generator ```slc loopback``` that would do as good job creating client side skeleton app as it doe

[2015-05-13 15:41] adriatic opened #75 "Model hook "user.beforeCreate" is deprecated"
Use Operation hooks instead. http://docs.strongloop.com/display/LB/Operation+hooks

[2015-05-14 17:18] russelldc commented on #71
In modules/users/controllers/register.ctrl.js, before the User is saved I recommend adding the line

`delete $scope.registration.confirmPassword;`

on line 114.

[2015-05-20 10:55] rizvanhaider opened #76 "Problem in Deploying on local machine"
I am trying to run loopback-angular -admin on my laptop but when I start the project with command [slc run] then on browser the login page appears and it continuously blinks and console generates infinite number of errors in controllers and etc... below is a screen shot attached

![screenshot 5](https://cloud.githubusercontent.com/assets/9403438/7724200/dcb9b57a-ff08-11e4-9955-8f5124f89cf9.png)

[2015-05-20 11:49] sakthideveloper commented on #76
Hi rizvanhaider,
 Check and make sure this changes from pull request https://github.com/beeman/loopback-angular-admin/pulls to fix your live reload issues.

[2015-05-20 14:57] Acaspita commented on #74
Great! Do it and let us know how it goes..., what are the limits of users when using free suscription Stormpath?

[2015-05-20 15:16] Acaspita opened #77 "Best way/practice to limit view access to a module for a particular User Role?"
Hi,

What should be the best way to limit view access to a module for a particular User Role?

Should the folder client/app/modules/my-module/ be restricted when loading?
Should I remove in some way line 'con.module.my-module', from client/app/js/app.js folder?
and also remove js files loading at client/app/index.html ?
Or should I just not load files at client/app/modules/my-module/config/ folder

[2015-05-20 15:29] adriatic commented on #74
There are no limits other than than those defined by Stormpath and LoopBack (both being open source project, free to everyone).

The original concept (StrongStorm) has since expanded in scope and you can watch its advancements at http://blog/congral.com - the article http://blog.congral.com/strongstorm-navigation-guide/ in particular.

[2015-05-20 15:44] Acaspita commented on #74
Oh.., this is great then!...
Hey, how could we solve this that I exposed, with Stormpath? It's about limiting access to sections of the views depending on authorization roles. What do you think?
https://github.com/beeman/loopback-angular-admin/issues/77

[2015-05-20 16:54] adriatic commented on #74
I would think that StrongStorm project is best approach for your needs - but that has barely started without any firm commitment for delivery. Check http://blog.congral.com/2015/05/17/vancouver-project/ to get some hints what we plan to do.

[2015-05-20 16:56] macbroadcast commented on #74
I think there is some clarification needed, stormpath isnt opensource, just the SDK for accessing their APIs is opensource, thats why its called AaaS. I was following the development of strongloop for quite a while and i was fascinated like most of us , but at the end its just a hype from a company with a lot of venture capital in the background and the framework is way to complex and creates a lo

[2015-05-20 17:01] adriatic commented on #74
**I stand corrected**, sorry for the confusion created by my careless observation. Nevertheless, having Stormpath SDK and LoopBack as open source code, allows any application developer that has a contract to develop something "state of the art", to prototype the application for free and see all the code in order to better understand the interface.

[2015-05-30 07:47] kentyap opened #78 "Problem running npm start"
I encounter the following problem after running npm start fresh after installation

It keep flashing
Get http://0.0.0.0:3000/api/AuthProviders/count net::ERR_ADDRESS_INVALID

![image](https://cloud.githubusercontent.com/assets/10970256/7896161/c1095e70-06e2-11e5-8a23-52e51486d6d3.png)

[2015-05-30 22:43] beeman commented on #58
Hi @movibe, it looks like this project is based on plain Express/MongoDB at the backend and Backbone in the frontend. That technology stack is too different to merge in this project.

[2015-05-30 22:43] #58 closed

[2015-05-30 22:43] #47 closed

[2015-05-30 23:01] beeman commented on #71
Thanks for this message, fixed in ebec6228d26fc3aae723a2f28dd99ea9f7f247aa , in branch develop now :)

[2015-05-30 23:01] #71 closed

[2015-05-30 23:02] beeman commented on #75
Thanks for this message, it's fixed in c798dc816166963dfc08175e7a2b4d7ea2e075a0 , in the develop branch now :)

[2015-05-30 23:02] #75 closed

[2015-05-30 23:03] beeman commented on #70
Thanks for this message, fixed in ebec6228d26fc3aae723a2f28dd99ea9f7f247aa :)

[2015-05-30 23:03] #70 closed

[2015-05-30 23:03] beeman commented on #67
This is a known issue. If you have a PR that fixes it I'm happy to look at and consider merging it.

[2015-05-30 23:04] beeman commented on #68
Thanks for your issue, can you confirm it's fixed in master? :)

[2015-05-30 23:05] beeman commented on #74
As the Stormpath backend is not open source I will not consider using it in this project.

[2015-05-30 23:05] #74 closed

[2015-05-30 23:07] beeman commented on #65
I'm not sure what the problem is here. Can you try to explain it in more detail?

[2015-05-30 23:07] beeman commented on #65
I'm not sure what the problem is here.

If you still have this problem please open a new issue with a more detailed description.

[2015-05-30 23:07] #65 closed

[2015-05-30 23:11] beeman commented on #78
Please try to run `grunt build` after `npm install`, this should fix the issue for now. This is a known bug.

[2015-06-01 01:50] movibe commented on #58
In fact I would like your opinion of mounting the ACL inspired this project, if you find interesting copy the idea and use in our project?

[2015-06-01 08:22] beeman commented on #58
Can you show me where the ACL is defined?

For this project we will use the LoopBack method for ACL's, but some inspiration can be useful :)

[2015-06-01 20:36] dthib opened #80 "Social connect"
Hi,

I am trying to use the social connect feature with facebook but I am a bit stuck:
I have modified providers.json to leave only local facebook and I have fill the clientID & clientSecret fields. When I click on connect, I can see the redirection to facebook because at the beginning I got an invalid url error. After changing the website url in my facebook account to "http://localhost:3000/auth/

[2015-06-01 21:21] dthib commented on #80
I keep on working on the subject and I have some more information:
- get the 401 because of the call : User.getCurrent() in main.ctrl.js.
- Inside this call this is is due to undefined LoopBackAuth.currentUserId.
- It seems that LoopBackAuth.setUser is not called in the case of social logging

if I replace the User.getCurrent() call by:
    AppAuth.ensureHasCurrentUser(function(user)
    {
      $

[2015-06-01 22:18] beeman commented on #80
Hey @dthib , if you can send a pull request I will absolutely consider merging it!

Please on functionality/fix per branch :)

[2015-06-02 01:11] LetsDoIt- opened #81 "This isn't an issue, more of a question, createRole.principals.create"
Can you please explain what is RoleMapping.USER ? I tried to go through the api docs but it's hard to understand,
createdRole.principals.create({
                  principalType: RoleMapping.USER,
                  principalId: createdUser.id
                },

Is RoleMapping.USER the User Model object ? or is the role user ? or is it just a enum ?

Does it have to change according to the role ?

[2015-06-04 08:28] kentyap commented on #78
I am sorry, I erase the directory to redo again and execute grunt build after npm install.  but  still with the same problem
![image](https://cloud.githubusercontent.com/assets/10970256/7979996/d0e44bec-0a58-11e5-909e-b2a90bc8d6a8.png)

[2015-06-04 08:33] beeman commented on #78
Can you check if the API is running at http://0.0.0.0/api ?

[2015-06-04 08:42] kentyap commented on #78
[image: Inline image 1]

On Thu, Jun 4, 2015 at 1:33 AM, Bram Borggreve <notifications@github.com>
wrote:

[2015-06-04 08:44] beeman commented on #78
Hey @kentyap the image is not visible on github.com...

[2015-06-04 08:50] kentyap commented on #78
![image](https://cloud.githubusercontent.com/assets/10970256/7980369/c2eee030-0a5b-11e5-990c-aa8611d5eaab.png)

Please see attached

[2015-06-04 08:58] beeman commented on #78
Looks like the API is running. http://localhost:3000/api/notes should for instance give some results.

Can you try to to put  `API_URL=http://localhost:3000/api` in front of the command you are using to start the server?

[2015-06-04 09:18] kentyap commented on #78
![image](https://cloud.githubusercontent.com/assets/10970256/7980844/bae15d92-0a5f-11e5-88d2-1fc9a4aed4a8.png)

Thanks please see attached, fail to login using admin@/admin.com and  user@user.com so try to register but has an error on the login page.

[2015-06-04 09:46] beeman commented on #78
@kentyap that is probably because the initial dataset is not loaded if you don't specify it. Set `INITDB=true` to get that running, as specified in the README :)

Looking at the error message in this screen it looks like you haven't set a password.

[2015-06-04 10:12] kentyap commented on #78
Thanks , manage to login now.

[2015-06-04 10:18] beeman commented on #78
:+1:

[2015-06-04 10:18] #78 closed

[2015-06-04 21:37] dthib commented on #80
Hi beeman,
To be honest this is my first open source commit :). So I hope I did it the right way with the pull request.
Best,
Thibaut

[2015-06-15 06:57] sternwald commented on #66
try
export INITDB=1 bevor starting

[2015-06-16 20:30] asgeirbirkis opened #84 "Layout from a fresh install appears broken"
Doing a fresh clone (currently at commit 699d60640a), then `npm install`, followed by `nodemon` and `grunt serve` gives me a layout of a site that appears broken. See attached screenshots. What confuses me even more is that I've previously downloaded the repo (about two months ago) and everything looked nice like in the screenshots when I ran the same command. Am I doing something silly or is some

[2015-06-16 20:43] stvnmcdonald commented on #84
This is happening for me as well, even with the "Deploy to Heroku" option.

[2015-06-16 21:22] beeman commented on #84
Thanks for creating this issue, I'll check it tomorrow as I don't have high-speed internet at this moment.

I don't think it's your fault, especially when more people have this problem. It's probably an issue with one of the bower/npm packages.

[2015-06-17 13:42] samuelbriole opened #85 "Integration to my own Loopback App ?"
I don't understand how I can integrate this admin client to my own loopback App, how can I generate the right html/js files ?

[2015-06-18 16:24] Acaspita commented on #85
Emmmm..., I really don't get what you want to know..., besides pointing out that you don't understand how everything works around loopback and the client app...

Samuel, I think you should first study better the functioning of the framework, and later, if you get to know how the angular application works, then you'll realize how to do whatever you want to do, right?

....

[2015-06-19 15:03] thekennysong opened #86 "Heroku Deployment Issue"
Hello,

First, I LOVE THIS! You did a really good job. When I deployed the app, I noticed some of the styles are messed up. You can check it out here, https://form-fun.herokuapp.com/

Thanks!

Kenny

[2015-06-19 16:35] #84 closed

[2015-06-19 16:35] #85 closed

[2015-06-19 16:43] beeman commented on #84
The problem was caused by the fact that the packages in bower.json were not fixed to a certain version but rather always updated to the latest version thanks to the caret notation (^).

This caused bootstrap to upgrade to version 3.5.3 which removes the CSS file to be included by default https://github.com/twbs/bootstrap/commit/38861984d9035333e2b366d307a5b874df8b8759

It should work again now, I'

[2015-06-19 16:44] beeman commented on #86
Hi @thekennysong , thanks a lot!

It should be fixed now, this was a duplicate of [this bug](https://github.com/beeman/loopback-angular-admin/issues/84#issuecomment-113570352)

[2015-06-19 16:44] #86 closed

[2015-06-19 20:36] asgeirbirkis commented on #84
Thanks @beeman for looking into this, looking forward to keep experimenting with the code over the weekend!

[2015-06-23 20:37] thekennysong opened #88 "Connecting Loopback w/DB"
Hello,

Noticed that after a bit, the stored data goes away. I am assuming the app uses local storage? Anyway, I am trying to make the platform so it permanently saves data? Any suggestions?

Kenny

[2015-06-23 22:26] beeman commented on #88
Hi @thekennysong, this project uses the [loopback memory connector](http://docs.strongloop.com/display/public/LB/Memory+connector) by default. It is probably best to use MongoDB with this project, in the README you can find how to configure that.

[2015-06-24 14:40] thekennysong commented on #88
I get this now when I try to run locally (INITDB=true MONGODB_URL="mongodb:/ocalhost:27017/loopback-angular-admin" sudo npm start),

![screen shot 2015-06-24 at 9 39 29 am](https://cloud.githubusercontent.com/assets/5256555/8332712/f519b89c-1a54-11e5-8ed9-500167e35723.png)

[2015-06-25 14:20] thekennysong commented on #88
Okay. So I reverted my steps and when I did the one line command so I can work on it locally, I got this
![screen shot 2015-06-25 at 9 19 24 am](https://cloud.githubusercontent.com/assets/5256555/8356510/6e657d1e-1b1b-11e5-8aa0-6f45e65317d5.png)

[2015-06-30 23:49] beeman commented on #80
Thanks! Just took the time to test and merge it!

[2015-06-30 23:49] #80 closed

[2015-06-30 23:50] #66 closed

[2015-06-30 23:55] beeman commented on #76
Please reopen if it's still the same with the latest master :)

[2015-06-30 23:55] #76 closed

[2015-06-30 23:55] beeman commented on #68
Please reopen if it's still the same with the latest master :)

[2015-06-30 23:59] beeman commented on #81
Hi @LetsDoIt- I am not sure to answer this question at the moment as my knowledge of the LoopBack ACL is still under par.

For general questions about LoopBack I recommend you to go to one of these gitter rooms and ask there:

https://gitter.im/strongloop/loopback
https://gitter.im/loopbackers/loopbackers.github.io

[2015-06-30 23:59] #81 closed

[2015-07-01 00:01] beeman commented on #59
It would be best to have the `grunt serve` command start the API, for instance with [grunt-nodemon](https://github.com/ChrisWren/grunt-nodemon).

[2015-07-01 00:02] beeman commented on #88
Please reopen if it's still the same with the latest master :)

[2015-07-01 00:02] #88 closed

[2015-07-01 00:04] beeman commented on #46
I'm closing it now because ACL's are not yet implemented in this project.

For general questions about LoopBack I recommend you to go to one of these gitter rooms and ask there:

https://gitter.im/strongloop/loopback
https://gitter.im/loopbackers/loopbackers.github.io

If it is a bug that is only in this project please reopen this issue.

[2015-07-01 00:04] #46 closed

[2015-07-01 00:05] beeman commented on #49
Please reopen if it's still the same with the latest master :)

[2015-07-01 00:05] #49 closed

[2015-07-01 00:06] beeman commented on #56
I have decided to use angular-schema-form in the future, I'm not sure when though.

[2015-07-01 00:06] #56 closed

[2015-07-01 00:09] beeman commented on #77
Hi @Acaspita I have only briefly looked at securing the project and thought about using something like angular-permissions, though that will bring security on a 'logical' level.

If you want to protect your users from accessing the content of certain modules I guess it's best to just remove them.

Please create a new issue if you have a specific example if something is not working as expected. Bes

[2015-07-01 00:09] #77 closed

[2015-07-01 00:09] beeman commented on #67
Should be fixed once #61 get's implemented

[2015-07-01 16:18] thekennysong commented on #88
![screen shot 2015-07-01 at 11 17 45 am](https://cloud.githubusercontent.com/assets/5256555/8459440/dcabc3ac-1fe2-11e5-90dd-2dfa6bb6f661.png)

I did sudo chown -R $(whoami) ~/.npm/_locks and sudo npm install npm -g to try and solve the issue. No luck :(

[2015-07-01 16:22] beeman commented on #88
Can you try running the 'one-liner install' in a separate directory to see if that still fails?

[2015-07-01 16:58] thekennysong commented on #88
I have been using sudo for npm and --force for grunt because otherwise I won't get as far. I have been doing the one-liner install as well. Should I send a video of what the terminal does. I believe this repo is fine but I just don't get why it won't locally on my machine.

[2015-07-01 17:03] beeman commented on #88
I guess you should always try and avoid using `--force` parameters. It will be best to try and clean your current node installation and retry. On OS X I have never used sudo with npm, it's all installed in user land. I have installed node using homebrew.

For issues regarding to the working of node in general on your mac please refer to other places like this one: http://nodeslackers.io/ as I don'

[2015-07-01 17:06] thekennysong commented on #88
No worries, appreciate the time! Will let you know what does the trick.

Cheers from Chicago!

Kenny

[2015-07-02 18:27] thomasvs commented on #68
It is not fixed in master.  I ran into this setting up a project on a new machine with npm install.

Please reopen and fix properly.

[2015-07-02 18:28] thomasvs commented on #68
(to be clear - it looks this is a bug in grunt-connect-proxy, and 0.2.0 doesn't fix that)

[2015-07-02 18:38] beeman commented on #68
Will try to reproduce than fix.

[2015-07-03 00:45] beeman commented on #59
I have updated the project so it will automatically start the API when you start the project with `grunt serve` and updated the README accordingly.

Can you please confirm that this solves this issue @pulkitsinghal?

[2015-07-04 04:44] Acaspita commented on #77
Ok

[2015-07-06 12:17] drmikecrowe commented on #68
@thomasvs Can you confirm you're using the right version of eventemitter?
[code]

[2015-07-08 03:20] wesleymilan opened #90 "User access"
Hi Beeman,

I'm trying to do the user having no access to other users profiles, specially admin's profile even him not having permissions to change, at this time he can list all users, how can I restrict his listing access to himself only?

Thank you for your help

[2015-07-08 09:41] beeman commented on #90
Hi @wesleymilan, this is probably best done using the ACL.

Since the ACL is not yet support it is best to look elsewhere for your solution.

For general questions about LoopBack I recommend you to go to one of these gitter rooms and ask there:

https://gitter.im/strongloop/loopback
https://gitter.im/loopbackers/loopbackers.github.io

[2015-07-08 09:41] #90 closed

[2015-07-16 18:08] asgeirbirkis opened #92 "loopback-connector-mongodb needs to be updated for ctx.isNewInstance to work"
Strongloop is advocating the use of operation hooks instead of deprecated model hooks. One nice thing that comes with that functionality is the `ctx.isNewInstance`, cf. http://docs.strongloop.com/display/public/LB/Operation+hooks#Operationhooks-Checkingforsupportofctx.isNewInstance

However, this functionality only got introduced in v1.9.0 of loopback-connector-mongodb, but the current package.jso

[2015-07-16 23:09] beeman commented on #92
Hi @asgeirbirkis, thanks for you issue. I agree with making the above changes and I'm happy to accept it as a PR :)

[2015-07-21 19:22] matoho opened #95 "Upgrade to AdminLTE v2.2"
AdminLTE offers a new version and it would be neat if it was updated within loopback-angular-admin.

Cheers

[2015-07-21 20:42] beeman commented on #95
Hi @matoho, thanks for you issue.

AdminLTE is awesome and especially the 2.2 branch. There are a couple of reasons why I'll probably switch to using another theme in the future, the main reason is that AdminLTE is not built for AngularJS. That means there will be a lot non-angular code in the system, and I don't like that idea.

Next to that the theme has a lot of plugins that I don't see fit in

[2015-07-21 20:42] #95 closed

[2015-07-23 22:58] #92 closed

[2015-07-30 00:32] palmerjc opened #96 "User information in header lost on screen refresh"
.controller('MainCtrl', function($scope, $rootScope, $state, $location,  CoreService, User, gettextCatalog, AppAuth) {

	AppAuth.ensureHasCurrentUser(function(user)
    {
      $scope.currentUser = user;
	});

Needs to be changed to

  .controller('MainCtrl', function($scope, $rootScope, $state, $location,  CoreService, User, gettextCatalog) {

 $scope.currentUser = User.getCurrent();

[2015-07-30 01:07] beeman commented on #96
Thanks @palmerjc!

It looks like it's a regression cause by this commit https://github.com/beeman/loopback-angular-admin/commit/7497639eaf9028988c587dd928214e156313ae06

@dthib could you maybe find time to fix this?

[2015-07-30 19:13] josx commented on #33
If I log in and reload, user info is lost but still showing dashboard (like i am logged in)
Is this a known bug?

[2015-07-30 19:41] josx commented on #96
Make a PR to solve this based on @palmerjc  work.

[2015-07-31 16:02] josx opened #98 "Grunt build problem"
On ```grunt build ``` runs server.js but I dont understand why.
There is a problem between running:  "loopback_sdk_angular:production" and after "includeSource:dist" tasks.
So Everytime I run ```grunt serve``` is booting loopback app run twice.

To test it you can add a little task on Gruntfile.js

[code]
and then run
[code]

[2015-07-31 19:19] dthib commented on #96
That's exactly what I changed because it was not working with social authentication :)
I guess you are working with normal login?
Best,

[2015-08-03 16:23] josx commented on #96
If you dont use social networks still works with this code.
Try to reload, ones you get logged in.

[2015-08-05 03:31] brunoshow opened #102 "Problems with grunt build"
Im trying run your project locally but im heaving some problems on `grunt build`.

*Failed at the loopback-angular-admin@0.1.1 postinstall script 'bower install && grunt build
### npm.log:
[code]

[2015-08-06 13:31] palmerjc opened #103 "Grunt dist issue"
It appears that the dist setup in the Gruntfile.js is missing something because the API does not come online.  Furthermore, it appears that there might be a minification issue that is preventing modules from loading as well.  Has anybody got a clean Gruntfile where the application loads without issue?

[2015-08-06 13:35] palmerjc commented on #103
![dist-app-loading-error](https://cloud.githubusercontent.com/assets/13563242/9112740/70935a92-3c1e-11e5-94bb-a7e4886b000c.png)

[2015-08-06 17:27] maisnamraju opened #104 "Server side validations on registration"
This may be stupid, but is there a way to add server side validation on registration. Is this possible in the current app ?

[2015-08-08 04:19] yshing commented on #96
This issue is cause by [/client/app/modules/users/services/appauth.service.js](https://github.com/beeman/loopback-angular-admin/blob/master/client/app/modules/users/services/appauth.service.js#L49-L85)
The **ensureHasCurrentUser** Method
$cookies.access_token is always false.
change all "$cookies.access_token" to "$cookies.accessToken" solves this issue

[2015-08-08 07:24] yshing opened #105 "ClientApp: AppAuth.currentUser is always Empty"
The AppAuth.currentUser is always empty

[2015-08-09 01:50] beeman commented on #105
@yshing thanks for your patch, it landed in master via #107 :)

[2015-08-09 01:50] #105 closed

[2015-08-09 01:52] beeman commented on #102
Hi @brunoshow , do you have `bower` and `grunt-cli` installed globally?

    $ npm install -g bower grunt-cli

[2015-08-09 01:58] beeman commented on #98
@josx the server is started by `loopback_sdk_angular` so that it can generate the file `lbServices` that is used by the front end.

This is not an issue but the way the project is designed.

If you don't like the fact that this file is generated each time the server starts you can generate it and store it under version control, but for this project I feel that it should generate each run to easily

[2015-08-09 02:00] beeman commented on #96
Thanks for the contributions guys.

This should be fixed in master, @palmerjc could you please verify this?

@dthib can you please verify if the social login now works on master too?

[2015-08-09 02:02] beeman commented on #61
This should be fixed in master via #107 . Could you please verify this?

It's not a fancy solution like HubSpot/offline but it does the job.

[2015-08-09 02:02] beeman commented on #67
This should be fixed in master via #107. Could you please verify this?

[2015-08-09 02:04] beeman commented on #104
@maisnamraju this should for sure be possible. I think you can do so by adding validation to the app's `User` model.

For any further information I think it's best to ask in https://gitter.im/beeman/loopback-angular-admin or https://gitter.im/strongloop/loopback .

[2015-08-09 02:04] #104 closed

[2015-08-09 17:08] dthib commented on #96
Thanks for the fix! OK I will check that during the week.
Best,
Thibaut
Le 9 août 2015 04:00, "Bram Borggreve" <notifications@github.com> a écrit :

[2015-08-10 04:52] jgauna commented on #1
This happens everytime I run the project with ```grunt serve```. Btw, thanks for this incredibly project !

[2015-08-10 14:14] beeman commented on #1
@jgauna I'm glad it is working for you.

There should be no need for downgrading to node version 0.10 though. I've been working on this project with the latest io.js, version 3.0.0 and everything seems to be working well.

I'm using `n` to use different node versions, it has support for iojs too:  https://www.npmjs.com/package/n

[2015-08-12 12:41] #68 closed

[2015-08-12 19:13] njcaruso opened #109 "loopback-component-passport uses cookie: `access_token` not accessToken"
In passpost-configurator.js, loopback is using the cookie `access_token`.

In your anuglarjs code `appauth.service.js` you're checking `$cookies.accessToken`.  I believe this should be changed to `$cookies.access_token`.

[2015-08-13 13:03] reubenb87 opened #110 "Logging in using google"
Not sure if it's something I'm doing wrong. After cloning from git and only configuring the google and google-link providers I am able to successfully create a user using google provider.
However when I click the 'Google' button on sign in page `/#/login` it redirects to google and when it takes me back I have the following in the server console:

But in the console in the client I always get:

Is

[2015-08-13 20:07] #102 closed

[2015-08-14 04:58] yshing commented on #110
Sadly found out that 'loopback-component-passport' is basically a useless module which cannot be rely on.
The social identity login function find related user by this query.

'query = {"or":[{"username":"google-login.1085811727xxxx"},{"email":"xxx@gmail.com"}]}'

You'll only successfully link a account if you use the same email  - _ -..

Besides, it uses 'user.findOrCreate' inside the [login funct

[2015-08-14 20:51] dthib commented on #96
Hi again,
I have tested it and I don't think it's better:
- The social login it's not working anymore since User.getCurrent if still called and undefined is returned for social connexion (any idea of the reason for this behavior?)
- If i put back ensureHasCurrentUser, the connexion is  not working anymore because of the change   access_token to accessToken

If you have any idea...
Best,
Thibaut

[2015-08-17 20:14] asgeirbirkis commented on #67
Not that I'm the original reporter, but I had been dealing with the same issue. At least for me, with #107 merged, I get directed to an error page when api goes down, and don't get stuck in an infinite loop.

[2015-08-18 03:38] yshing commented on #109
Check this: https://github.com/strongloop/loopback-component-passport/issues/57

[2015-08-19 18:40] absurd opened #111 "QuotaExceededError causes login to fail on Safari 8.0.5"
<img width="835" alt="screen shot 2015-08-19 at 11 36 52 am" src="https://cloud.githubusercontent.com/assets/2117288/9365546/0042ddfa-4667-11e5-9229-7b310b937dea.png">

[2015-08-19 21:04] beeman commented on #67
Thanks for confirming @asgeirbirkis !

[2015-08-19 21:04] #67 closed

[2015-08-20 14:06] rualatngua commented on #110
+1 I got the same problem too :(

[2015-08-21 00:26] sahat commented on #111
@absurd Are you running it in Safari Private Window?

[2015-08-21 00:31] absurd commented on #111
@sahat Oh of course, unavailable localStorage. Yes, I was.

[2015-08-21 01:58] FreemanHsu opened #112 "npm install issue"
I met with some problem when doing npm install. Seems like phantomjs compressed file is corrupted?

$ npm install
/

Download already available at /tmp/phantomjs/phantomjs-1.9.8-linux-x86_64.tar.bz2
Extracting tar contents (via spawned process)
Error extracting archive
Phantom installation failed { [Error: Command failed: tar jxf /tmp/phantomjs/phantomjs-1.9.8-linux-x86_64.tar.bz2

bzip2: Compress

[2015-08-21 07:02] shankscoder opened #113 "Deploying with Strongloop Process Manager & SL CLI"
We're using this project as the starter template for a set of internal tools.

We've got a PoC done of our first build and we want to set this up on a local server so that simulate a production deployment on one of servers.

Does anyone have any guidance on how to deploy using StrongLoops's ProcessManager and Deploy CLI tools?

[2015-08-21 15:59] beeman commented on #112
Looking at your log it seems that the problem has to do with installing PhantomJS.

Can you try to remove this file `/tmp/phantomjs/phantomjs-1.9.8-linux-x86_64.tar.bz2` and try it again?

[2015-08-21 16:22] FreemanHsu commented on #112
@beeman Thanks! It works!
It turns out that I tried to install phantomjs for other uses previously and the compressed file was corrupted somehow.

[2015-08-21 16:22] #112 closed

[2015-08-21 16:26] asgeirbirkis opened #114 "Routed back to /login even with a token"
I'm finding myself in the situation that if I restart the server, then go back to 0.0.0.0:9000 , I always get routed back to the login page, even if I have a token. Looking into the issue, it appears that the lines to blame are in `client/app/modules/core/controllers/router.ctrl.js`, more precisely,

[code]

For some reason, at this point, `AppAuth.currentUser` has not been set, so we go into the

[2015-08-22 16:52] beeman opened #115 "There is no Spanish translation"
We would like to have a Spanish translation

[2015-08-22 22:06] onel0p3z commented on #115
@beeman I can help with this. Please let me know how to get involved :D

[2015-08-25 13:59] haovn577 opened #117 "StrongLoop Arc: Can't load models"
Hi all,

Strongloop Arc has a great tools for developer, should be used in this project also.
But, seems can't load models in arc?
Anyone has tried this?
The another project will loopback, has no this problem?

Error:
TypeError: Cannot read property 'dataSource' of undefined
    at Array.<anonymous> (model.services.js:182)
    at Object.forEach (angular.js:323)
    at model.services.js:164
    at

[2015-08-25 17:45] brunoshow opened #118 "MultiCheckbox and formly-bootstrap-template require a higher lib version"
Hi, I'm trying do a multicheckbox or some kind of array selection to my model exemple
Model Result (something like) -> "Features": [ 'a', 'b', 'c' ]

For this I've tried to add angular-formly-templates-bootstrap but it require a higher formly version, then when I update it I catch `formlyConfigProvider.setTemplateUrl is not a function` in core.config

Does someone know another way to do the same o

[2015-08-26 14:44] portokallidis opened #119 "Auto generate forms by backend model?"
Would be really nice for prototyping...
How can i retrieve a loopback backend model schema through angular?
I want to build automatic forms based on the backend models... i think it is possible

[2015-08-26 15:15] beeman commented on #119
It would indeed be really nice to have that.

Last week I've add a couple of methods to a model called `Meta` that can be used for this purpose.

The methods are:
[code]

I'm not sure if it gives all the information that is needed, but I guess it will be a start.

Another thing to not is that I'm most likely moving towards using schema-form, so it might be good to base it on that. Or at least abst

[2015-08-26 16:54] dot-louis commented on #119
Hi @portokallidis ,
I'm indeed working on a solution to complete the Loopback explorer: https://github.com/dot-louis/loopback-browser (not ready yet)

If you want to get the model schema, you can enable loopback explorer and query the following api from your app:
[code]

For example you could have a function to request the available api endpoints,
and then get the related operations, and model det

[2015-08-26 17:10] portokallidis commented on #119
Hi,
@dot-louis this was my first approach,then i explored the Meta model @beeman  has created and that was very helpful although i couldn't retrieve somehow the type(string,number,etc) of properties...
Thank you for the help!

[2015-08-26 17:16] beeman commented on #119
@dot-louis thanks for your input :)

@portokallidis where would you expect these details to appear? In one of the existing methods or in a new one? It would be quite straightforward to add them

[2015-08-26 17:30] portokallidis commented on #119
Perhaps nested like they are in common models

         prop_name: {
              type:"string",
              required:true
         }

[2015-08-27 16:36] beeman commented on #115
@onel0p3z Thanks! Actually there is just a Mexican translation added by @Stidro.

If you think the Spanish from Spain is different and should be added to you can look at PR #120

[2015-08-29 20:25] brainwatch commented on #103
Same here. Any fix ?

[2015-08-29 20:41] brainwatch commented on #96
Hi

The problem still persists.

Social logins not working ( using ensureHasCurrentUser() and also User.getCurrent() ) with and without accessToken changes.

My observation is
1. access token is available as "access_token" only.
2. the http call to "auth/current" from ensureHasCurrentUser is looking for client web server path ( http://localhost:9000/auth/current ) whereas its available at server (

[2015-09-03 10:05] portokallidis opened #123 "Anyone having problem with the uglify grunt task"
I think it is consuming a lot of memory, i am using cloud9 ide and sometimes crashes due to low memory (1gb)
Is there anyway to limit memory consumption?
I tried to upgrade to 0.8.1 and it gets stuck over 5min
Any ideas?

[2015-09-03 16:23] portokallidis commented on #123
6min 25sec just for the uglify

[2015-09-07 15:47] #115 closed

[2015-09-08 00:41] beeman commented on #56
FYI, I've updated formly after all, it just landed in master :)

[2015-09-08 00:43] beeman commented on #118
Hi @brunoshow, I've just updated formly to these versions:

[code]

Can you try it again and maybe add an example in the app's Sandbox for it? Thanks!

[2015-09-08 00:46] beeman commented on #119
I've just added a basic data browser. I've not yet implemented #121 in the updated Meta model as it seemed to crashed the server.

So it seems that the property definition is stored as a function instead of a string?

[2015-09-08 02:25] beeman commented on #62
Fixed in master :)

[2015-09-08 02:25] #62 closed

[2015-09-08 02:31] drorm opened #124 "Configure to work on remote machine requires changing Gruntfile.js"
I did a fresh install on a remote server.

If I don't change anything or change server/config.json:
[code]

I get a bunch of errors trying to read the REST API and get redirected to http://my.server.com:3000/#/error

If I also change
[code]

Everything works correctly.

[2015-09-08 09:22] portokallidis commented on #119
yes it does, the first commit crashes the server and the second does not. I think the server crashes because i tried to manipulate a function object and make it string.
What i did next is that i left "type" as it is and created a new type "stringType" and now it doesnt crash although is not clean

[2015-09-08 11:42] beeman commented on #124
Can you try to see if setting the `API_URL` to `http://my.server.com:3000/api/` fixes this? It's mentioned in the README

[2015-09-08 12:06] sakthideveloper commented on #124
Hi Bram,

 When I've using oauth implementation in the loopback angular admin it will
returning to login but I've got data in UserIdentity Model. Please help me
As soon as possible.

[2015-09-08 12:12] beeman commented on #124
@sakthideveloper Please check one of the existing tickets about authentication or open a new one for this as it has not to do with this issue.

[2015-09-08 12:27] beeman commented on #119
It looks like this does it: https://github.com/beeman/loopback-angular-admin/blob/9845ed2e8166d92da7a9e8a11b1aab545b863c32/common/models/meta.js#L9

[2015-09-08 12:58] sakthideveloper commented on #124
Okay Thankyou Bram and sorry I've asked this questions from this ticket.

On Tue, Sep 8, 2015 at 5:42 PM, Bram Borggreve <notifications@github.com>
wrote:

[2015-09-08 15:26] kentcdodds opened #125 "Update built-in templates and update to formly v7.x"
I've just [discovered this](http://stackoverflow.com/questions/32461344/angularjs-formly-nested-form/32461451?noredirect=1#comment52784923_32461451). How cool! Glad that you're using angular-formly. I looked at some of the custom templates and it looks like they were copied from angular-formly-templates-bootstrap a long time ago. There's been a lot of improvements since those were released and cou

[2015-09-08 15:44] beeman commented on #125
Hi @kentcdodds , thanks for you message and of course for creating angular-formly!

I've just upgraded to version 6 with the intention to just make it work, I will still need to do some refactoring to get all custom elements the way I want them. I'll than upgrade to version 7 too.

So yeah, these can probably all go: https://github.com/beeman/loopback-angular-admin/tree/master/client/app/modules/c

[2015-09-09 02:02] drorm commented on #124
setting the API_URL does not fix it.
The problem is in here:
[code]

[2015-09-09 07:19] kentyap opened #126 "Permissioning"
Hi

I found that anyone can access any object without authentication.
Hence I try to block unauthenticated users from accessing one of the common object like Event.json
By adding the following acl,
 {
      "accessType": "*",
      "principalType": "ROLE",
      "principalId": "$unauthenticated",
      "permission": "DENY"
    }

I encounter the following error when loading in the console of the b

[2015-09-09 16:24] drorm commented on #126
From the README:
"Please note, at this moment there is no difference in permissions for admin users or regular users. This needs to change in the future!"

I'm looking at how to resolve this too. It's a combination of figuring out the right ACLs, but will probably involve code changes too.

[2015-09-10 00:34] spalaussie opened #128 "Dashboard only updates when don refresh."
I'm facing issue with dashboard boxes not displaying current count. is this an issue or I'm missing something.
Dashboard box values doesn't update values  upon login or clicking on Dashboard link. It only updates with current values in boxes upon reresh (f5).

can anyone help we this issue.

Thanks

[2015-09-10 03:10] kentyap commented on #126
The problem is even unauthenticated users can access all the endpoints but what I face is even if I manage to block unauthenticated users but it throw error of 401 and it seems that there is a bug for social login that will be redirect back to login page . It seems to be fine for registered login.

[2015-09-10 10:57] beeman opened #129 "Restructure project and migrate to gulp"
### Motivation

The project can use a better folder structure. The idea is to keep the top level folder clean with all the files needed to run and build the project. All source code will reside in the `src` folder.

I will take this opportunity to migrate from `grunt` to `gulp` as I think it is cleaner to work with.

The `gulp` build system should do everything that the current `grunt` build syste

[2015-09-10 11:47] movibe commented on #129
My suggestion for app folder and gulp files

| Name|Description|
|-----|:------|
| app |AngularJS admin App |
| app/lib |for bower_components folder |
| app/module/**/*.spec.js|Auto detect file for Angular Tests with ignore using gulp-inject |
| gulpfile.config.js |Configurations for gulp |
| gulpfile.js |Gulp Tasks |

[2015-09-15 02:49] sithuhein opened #132 "Cannot run the server!!!"
When i run the 'grunt serve' command, it showing this error..

Error Log!!!
===============================================================================
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Users\\sithu\\nvmw\\nodejs\\v0.10.40\\\\node.exe',
1 verbose cli   'C:\\Users\\sithu\\nvmw\\nodejs\\v0.10.40\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'install' ]
2 info using

[2015-09-16 20:38] brijs commented on #132
I get a similar error (with both node v0.12.5, v0.10.40)

14121 info install loopback-angular-admin@0.1.1
14122 info postinstall loopback-angular-admin@0.1.1
14123 verbose unsafe-perm in lifecycle true
14124 info loopback-angular-admin@0.1.1 Failed to exec postinstall script
14125 error loopback-angular-admin@0.1.1 postinstall: `bower install && grunt build`
14125 error Exit status 99
14126 error

[2015-09-18 02:39] beeman commented on #132
Should be fixed by #134

[2015-09-20 12:28] ktersius commented on #110
I've created a pull request that gets passport working again. https://github.com/beeman/loopback-angular-admin/pull/135

[2015-09-20 13:17] sakthideveloper commented on #110
Hi ktersius,
   Really a great works. It's works perfectly right now.

[2015-09-20 23:42] beeman commented on #129
@movibe the point in the structure I suggested is that the code is in a subfolder `src` to keep the root clean. Also I think it is nice to have the code separated from the other files in the project.

I do think it's fine to move from `src/client/app` to `src/client`, I've update the layout in the first post.

[2015-09-21 05:45] ktersius commented on #96
I think this bug should be fixed by merge https://github.com/beeman/loopback-angular-admin/pull/135.

[2015-09-23 14:48] aniruddhasm opened #136 "How to create modules so that it is reflected in AdminLTE frontend"
Hello,

I've added models from my table. The models are added successfully in the backend i.e. 'sports.js, sports.json' but they are not reflected in the admin LTE. Also how to create modules in the client->app->modules section
for example mine is sports
so that after adding client->app->js->app.js it will reflect in the admin UI.

Any help is appreciated.
Thanks,

[2015-09-23 22:45] brunoshow commented on #118
I did a pull now you don't have this 'app.config(function(formlyConfigProvider) {' so its not happening anymore,
thanks

[2015-09-23 22:45] #118 closed

[2015-10-02 21:12] randycasburn opened #138 "One line install fails"
Ubuntu 14.04, node .12

Error:
======
make: *** [Release/obj.target/kerberos/lib/kerberos.o] Error 1
make: Leaving directory `/var/www/dev/Angular/loopback-angular-admin/node_modules/loopback-connector-mongodb/node_modules/mongodb/node_modules/mongodb-core/node_modules/kerberos/build'
gyp ERR! build error
gyp ERR! stack Error: `make` failed with exit code: 2
gyp ERR! stack     at ChildProcess.onEx

[2015-10-02 21:51] #138 closed

[2015-10-08 19:15] ianseyer opened #139 "Generating modules for existing LB application"
Hi there!

Is there a process for applying this admin panel to an existing API? Seems like you could relatively easily generate the specific model ng-modules based on lb-services.

[2015-10-16 14:37] pulkitsinghal commented on #59
Confirmed, its easier and quicker to use.

[2015-10-16 14:37] #59 closed

[2015-10-16 14:41] pulkitsinghal commented on #61
@beeman - I started grunt serve, then logged into the app and then killed the grunt process ... but attempting to navigate around the app didn't provide any sort of disconnect indicator. Am I testing for the right thing here?

[2015-10-26 14:29] denzelwamburu opened #141 "401 Error Over Proxy"
Greetings,

Seems the API is not working when a machine is under proxy.

Check the attached screenshot from Chrome Dev Tool.
![screenshot from 2015-10-26 17 04 11](https://cloud.githubusercontent.com/assets/6532631/10731573/20896a0e-7c07-11e5-84a2-2efde617700f.png)

[2015-10-26 18:26] richh93 opened #142 "bower install && grunt build issue"
npm ERR! Darwin 15.0.0
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install"
npm ERR! node v4.2.1
npm ERR! npm  v2.14.7
npm ERR! code ELIFECYCLE
npm ERR! loopback-angular-admin@0.1.1 postinstall: `bower install && grunt build`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the loopback-angular-admin@0.1.1 postinstall script 'bower install && grunt build'.
npm ERR! This is most lik

[2015-10-29 16:23] jhitchcock commented on #142
I have the same issue

[2015-10-29 17:49] jhitchcock commented on #142
I eneded up getting it running by seperating out the commands and doing each with sudo and without : /

[2015-10-29 18:20] jhitchcock opened #143 "Misunderstanding?"
I may be missing something here, I'm pretty new to Angular and Grunt etc, but, Initially I was expecting that I regenerated by lbServices, and this admin system would update to be able to edit the models etc.

Now, After some digging, am I right in thinking this isn't the case, and I pretty much have to code the front end using the bits that are there?

So essentially, this is a sort of 'Template/

[2015-10-29 18:52] jhitchcock commented on #143
I know the answer to this now!

[2015-10-29 18:52] #143 closed

[2015-10-31 12:33] LS1231 opened #144 "Can the build tool grunt be changed to gulp"

[2015-10-31 14:58] beeman commented on #144
It wil eventually use gulp, but there is not timeframe for that yet. There is an issue for it here https://github.com/beeman/loopback-angular-admin/issues/129.

If you want to use it, look at what @movibe has done in here: https://github.com/beeman/loopback-angular-admin/pull/137

Remember that his version is not supported by me and does not update with this project.

[2015-10-31 14:58] #144 closed

[2015-11-02 02:04] a3bhea commented on #136
@aniruddhasm did you manage to find a way to generate the module?

[2015-11-03 19:31] n8stowell82 commented on #139
+1 for this.  I have been eying this project for awhile now trying to figure out if I can apply it to a pre built and fully functional api.  What I have been looking for is a django style admin generator for loopback

[2015-11-05 02:37] #132 closed

[2015-11-14 18:13] Pinesy opened #145 "Heroku Deployment"
Works fine if I select the Button to deploy to heroku -- however, if I make any changes, and try to push back up to heroku, I get errors, and the build fails. Any ideas?

[code]

[2015-11-14 19:12] Pinesy commented on #145
I was able to fix this by removing everything related to the files/storage component. Which is fine for me,  as I wouldn'tve needed it in my application.

[2015-11-14 19:12] #145 closed

[2015-11-17 18:10] LetsDoIt- commented on #145
I have the same issue, will try your suggestion

[2015-11-17 20:08] approgramer opened #146 "i am unable to run it.crashes with this error"
loopback-angular-admin@0.1.1 start D:\la

(node) warning: possible EventEmitter memory leak detected. 11 connected listeners added. Use emitter.setMaxListeners() to increase limit.
Trace
    at DataSource.addListener (events.js:239:17)
    at DataSource.once (events.js:265:8)
    at DataSource.ready (D:\la\node_modules\loopback-datasource-juggler\lib\datasource.js:2037:8)
    at stillConnecting (D

[2015-11-18 19:22] arimus commented on #117
Brand new project, detects models, try to save them...same error in the console. This seems kind of core to the functionality of Arc for it to be broken without comments for this long...

[2015-11-21 05:13] LetsDoIt- commented on #145
Worked for me

[2015-11-22 23:37] vko-online opened #147 "Has anyone tried to upgrade loopback to latest?"
Current loopback version is 2.25.0<br/>
This project loopback version is 2.19<br/>
Is it worth it upgrading?

[2015-11-26 15:24] UnicommDigital commented on #145
Hi, I'm having the same issue, can you share what you removed ?

Thanks,

[2015-11-29 03:46] LetsDoIt- commented on #145
I commented all code within
server/boot/storage.js and it works
But u will not be able to use Storage Module.

[2015-11-30 14:58] nborracha commented on #113
Hey did you manage to find a solution? thanks

[2015-11-30 21:19] bosco-li opened #148 "Running on Windows machine"
Just wanted to see if this has been tested on windows, just tried install on my windows machine and received a bunch of errors with the 1 line install, then try to install line by line got the below issue during `npm install`.  Not sure if this is related to windows or if just something I did wrong.  Thanks so much for helping!

[code]

[2015-12-02 15:57] bosco-li commented on #148
Installing node.js 0.12.7 and running the install steps step by step solved the problem

[2015-12-02 15:57] #148 closed

[2015-12-02 16:01] bosco-li opened #149 "Getting started"
Hi there, is there information on how to get started with our own models after we've installed the packages?

I'm thinking to install, replace the model and do a build.. but not sure if that's the right approach, also I'm not sure which models we can remove and which one needs to be there too.  Please help.

Thanks for the help.

[2015-12-08 15:03] lsfzheng opened #150 "possible EventEmitter memory leak detected. 11 connected listeners added. Use emitter.setMaxListeners()"
I install many times,but can't run success
Can open login page,but can't login in

[2015-12-12 09:03] emilianox commented on #150
+1 but the login work

[2015-12-17 04:37] debianmaster opened #151 "is there an easy way to add new module?"
im tried adding new module copying existing module and changing references.
Is there a easy way to generate ?

[2015-12-19 15:34] xapou commented on #150
I fixed it in ```server/boot/99-fake-data.js``` by replacing:

[code]
by this:

[code]

[2015-12-21 19:51] OwenBrotherwood opened #152 "zLinux (os390x) and phantomjs"
A little "heads up", strongloop.com is now an IBM Company, so I deceided to test node.js on IBM's zLinux (os390x) mainframe based Linux.
And then I needed a demo program: what better than angular-admin.

Unfortunatly, phantomjs has a problem I have to google for.
Not sure how phantomjs is helping angular-admin, or what it does, so I have to do some research.

The installation of loopback-angular-a

[2015-12-22 22:26] OwenBrotherwood commented on #152
Aaagh: what _does_ one answer?
Hope phantomjs is really necessary.

[code]

[2015-12-22 22:33] beeman commented on #152
Hey @OwenBrotherwood ,

Awesome that you're trying this project out on zLinux!

PhantomJS is a so-called headless WebKit browser used for testing the user interface.

The current project does not have any of these tests so it should not be needed to include it. I'm not sure how much will break if you simply remove the entry from package.json, but it's worth a try :)

[2015-12-23 08:52] OwenBrotherwood commented on #152
Hey @beeman
yep: after googling, I remembered PhantomJS's function: so many things to remember :)
it is now removed as there was some issues to get it built, for which I deceided not to use the time for (backlog).

As a "nohup grunt serverer": on and off link http://zlinux1.nodeonmainframe.org:3000
A quick  installation as per readme.md, and apparently, admin cannot login.

I will make a quick ins

[2015-12-23 13:35] OwenBrotherwood commented on #150
I have the warning
http://stackoverflow.com/questions/9768444/possible-eventemitter-memory-leak-detected

At the moment, I cannot login but that could be another problem.

@xapou "fixed" something: not sure if it was the warning or the original issue statement, cannot login

[2015-12-23 13:43] OwenBrotherwood commented on #150
possible EventEmitter memory leak detected. 11 connected listeners added. Use emitter.setMaxListeners()
http://stackoverflow.com/questions/9768444/possible-eventemitter-memory-leak-detected

Some loopback issue???
Patch === no warning in node_modules lib for loopback
EventEmitter.setMaxListeners(0);

Todo: google in loopbacks issues.

../node_modules/loopback-datasource-juggler/lib/datasource.js
[

[2015-12-23 18:42] #152 closed

[2015-12-23 18:42] OwenBrotherwood commented on #152
I close this heads up for problems with phantomjs: I can allways open an issue at phantomjs :)

The use of phantomjs as a tester is good, but outside my competance just now to "fix": IBM/another would have to do that.

[2015-12-24 09:56] OwenBrotherwood commented on #109
@njcaruso Do you still believe this should be $cookies.access_token?

Another issue that should be thought about is the use of cookies as accessToken, contra other methods.

Thought in progress ...

---

https://github.com/beeman/loopback-angular-admin/blob/master/client/app/modules/users/services/appauth.service.js#L59

[2015-12-29 13:34] vko-online commented on #113
+1

[2016-01-02 13:34] ezburg opened #153 "Less/Sass support"
It will be better if you can add less/sass support. It looks grunt file needs to be adjusted to add this.

If possible, coffeescript support will be great as well.

Thank you!

[2016-01-12 10:47] vko-online opened #154 "Project Alive"
Starter is awesome, but when ACL permissions will be implemented, i would like to help, but don't know anything about acls

[2016-01-15 11:47] denzelwamburu commented on #146
@approgramer Seems like you didn't create a `provider.json` file. Create a new file `provider.json` then paste the contents of `providers.template.json` .

[2016-01-15 11:48] denzelwamburu commented on #150
Facing the same issue.

[2016-01-15 11:49] denzelwamburu commented on #142
Actually running the commands differently works.

[2016-01-15 11:54] jhitchcock commented on #142
Actually, I realized later on running it all together was maxing out my ram on a tiny cloud9 VM, and running them separate were not

[2016-01-18 07:14] vko-online opened #155 "Remote method - current user"
How to get current user?

As per doc, added this inside `server/server.js/`

[code]

But still cannot get current user after calling my remote method, notice, i signed in to app

[code]

[2016-01-19 16:34] dev-augmenta opened #156 "Failed at bower install & grunt build"
When I try to manually push the repo to heroku I receive this error and the deploy fail.
When I use the button "deploy to heroku" found on github this doesn't happen.
But when I try to push my changes to the project I receive this error.
I tried to add bower cache clean in postinstall but doesn't help...

remote:        npm ERR! Linux 3.13.0-71-generic
remote:        npm ERR! argv "node" "/tmp/bui

[2016-01-19 16:35] dev-augmenta commented on #142
I have the same issue, Could anyone please post the complete solution?
It's impossible to push updates to heroku...

[2016-01-20 12:24] dev-augmenta commented on #156
so to fix my various publishing issues and complete a push to heroku succesfully I had to complete various step. I'll leave them here just in case someone is facing my same problems.

1) in package.json -> scripts ->  "postinstall": "bower cache clean && bower install && grunt build"
...this will clean bower cache and prevent some errors

2) in package.json update node and npm engines version to y

[2016-01-20 12:25] dev-augmenta commented on #150
Look at my answer https://github.com/beeman/loopback-angular-admin/issues/156
I had the same problem and I had to change the session storage engine to Mongo

[2016-01-20 12:26] dev-augmenta commented on #142
my complete solution to push to heroku is here https://github.com/beeman/loopback-angular-admin/issues/156

to solve grunt problems just change postinstall command to

bower cache clean && bower install && grunt build

[2016-01-27 09:41] rfesty opened #158 "Cannot deploy to heroku"
I'm trying to deploy back to heroku after cloning the git and I keep getting this error:
Warning: Cannot load LoopBack app server/server.js Use --force to continue.
it happens even when I pull the original version and try to push it back.

I've tried all the tickets solutions (https://github.com/beeman/loopback-angular-admin/issues/1 and others) but nothing seems to work

Thanks in advance

[2016-01-29 15:17] Airdigit opened #159 "Unhandled rejection Error: Your Node runtime does support ES6 Promises."
Hello please help with this i am getting the fallowing error , when run grunt serve on ubuntu machine

Unhandled rejection Error: Your Node runtime does support ES6 Promises. Set "global.Promise" to your preferred implementation of promises.
    at Object.throwPromiseNotDefined (/home/ubuntu/loopback-angular-admin/node_modules/loopback-datasource-juggler/lib/utils.js:486:9)
    at getThen (/home/u

[2016-01-29 20:19] beeman commented on #150
I've implemented the change that @xapou suggested in this commit https://github.com/beeman/loopback-angular-admin/commit/139d199c0be0503aa047d0e1c63d9cf916e987bb.

Please reopen the issue if it did not fix it.

[2016-01-29 20:19] #150 closed

[2016-01-29 20:52] beeman commented on #151
Hi @debianmaster, currently there is no easier way as the project is no longer compatible with the original generator. There might be a generator in the future to add new modules, but for now it's a manual task.

[2016-01-29 20:52] #151 closed

[2016-01-29 20:53] #98 closed

[2016-01-29 21:02] beeman commented on #154
Thanks @vko-online. The project is sill alive.
I can't give an exact date when ACL's are implemented but as I'm currently working with access control in my day job I can see it happening soon.

[2016-01-29 21:02] #154 closed

[2016-01-29 21:10] beeman commented on #149
Hi @bosco-li , there is currently no actual workflow for how to extend the application.

You can add the models that you need and copy and refactor an angular module to suit your needs.

The models `category`, `event`, `note`, `page`, `post` and `product` can be disabled with out too much effort.

I hope this helps.

[2016-01-29 21:10] #149 closed

[2016-01-29 21:31] beeman commented on #158
Hi @rfesty , I just tried to deploy it to heroku using the button on the readme and that seems to work fine. Did you change anything to the code before deploying it?

[2016-01-29 21:39] rfesty commented on #158
Hi @beeman, thanks for you reply!
The "Deploy to Heroku" button works fine and the deployment works ok.
If I try to pull it from Heroku and push it back (even without any change) I receive:
Warning: Cannot load LoopBack app server/server.js Use --force to continue.
and the deployment fails

I use the default Heroku Toolbelt:
$ heroku git:clone -a prank-server
$ cd prank-server

$ git add .
$ git c

[2016-01-29 22:47] beeman commented on #159
Hey @Airdigit , can you give some information about which version of node, npm and ubuntu you are using?

[2016-01-30 00:16] beeman commented on #147
It's generally a good idea to keep dependencies updated, I just haven't kept up with it for a while.

That being said, I've just updated all the loopback packages to their latest versions.

[2016-01-30 00:16] #147 closed

[2016-01-30 00:54] beeman commented on #146
Looking at this error it seems like the server was already running at that time: `Error: listen EADDRINUSE 0.0.0.0:3000`.

The EventEmitter error should be fixed. Please reopen this issue if the problem is still there.

[2016-01-30 00:54] #146 closed

[2016-01-30 21:44] beeman commented on #158
Pulling from Heroku and pushing it back does not work for me either, I'm not sure what causes this.

What does seem to work is this:

[code]

[2016-02-05 17:03] beeman commented on #156
@dev-augmenta can you verify that this issue still exists when trying to use the steps for manual Heroku deployment that I've added to the readme?

[2016-02-07 09:57] gvsrini opened #163 "Process for creating a new model"
Can you please update the README with instructions on how to create a new model and then make it show up on the Admin UI.

[2016-02-07 14:27] rfesty commented on #158
Thanks @beeman !
This works and I can deploy the project from my local. Once I try to commit a change and push again I receive the same:
Warning: Cannot load LoopBack app server/server.js Use --force to continue.

I believe this is happening because the task it already running

[2016-02-09 10:22] gvsrini opened #164 "MySQL database"
I have configured MySQL datasource, but am unable to start the server.
**`INITDB=true DEBUG=boot:*  grunt serve`**

[code]

[2016-02-12 10:54] gvsrini opened #165 "Sign In using Facebook/Twitter/Google"
I think this will be a good feature to add in.

[2016-02-12 13:37] #163 closed

[2016-02-12 13:37] #164 closed

[2016-02-16 07:24] hdeshmukh commented on #165
Hi there,
I have tried to implement this and have gotten most things to work but the only issue is that whenever the final redirect to /auth/account is done I keep getting a 401 error.  Is there something missing that I need to add to make this function properly?  I believe the issue is in the following

app.get('/auth/account', ensureLoggedIn('/'), function (req, res, next) {
        console.log(

[2016-02-16 08:27] hdeshmukh commented on #165
Ah....When the request to redirect to auth/account is made, the res.redirect ends up creating a request that is not authenticated....hence the 401 error.  Strange because loopback-component-passport does call req.login, so it should be storing that info somewhere so that the subsequent request is authenticated as well....

[2016-02-16 17:31] hdeshmukh commented on #165
Might this be related to using express-session with memory db?

[2016-02-21 01:13] hoangtrongphuc opened #167 "Strongloop arc cannot view model"
when i run : slc arc, web browser open new tab of strongloop arc, but i can not see any model though mongodb is running

[2016-02-24 03:30] sspansel commented on #165
I'm having what appears to be exactly this issue.

[2016-02-24 04:49] hdeshmukh commented on #165
Figured out what the issue was.  Had to use express-session with Passport to enable the use of sessions with memorydb.  Added the following
    app.middleware('session', loopback.session({
        secret: app.get('cookieSecret'),
        saveUninitialized: true,
        resave: true
    }));
to enable session

[2016-02-24 12:07] denzelwamburu commented on #136
@aniruddhasm  You have to create the frontend files and place them in `/client/app/modules/` i.e
   -  `config/yourmodule.config.js`
   -  `config/yourmodule.routes.js`
   - `services/yourmodules.service.js`
   - `views/form.html`
   - `views/list.html`
   - `views/main.html`
   -`app.yourmodules.js`

Then add the location of your js files in `index.html` and remember to declare your module in `js

[2016-02-27 23:05] BrainsoftLtd opened #168 "ES6 support for client code"
I love this starter app, but for the client side, I would like to use ES6 modules. I know how to rewrite the individual modules to export an actual ES6 module, but after that, I'm lost how to extend the grunt config to use browserify/babelify.

[2016-02-28 03:58] sspansel commented on #165
That fixed my problem; thanks!

[2016-03-08 12:01] amiashraf opened #170 "Failed to deploy at google cloud by console command "gcloud preview app deploy""
Hi there,
I have developed my loopback app and was going to deploy at google cloud platform with gcloud sdk console. At the time of deploy I am facing following error. Is there any one who can help me about?
[code]
**Note: the same issue is appearing with fresh git clone.**

[2016-03-15 13:09] #117 closed

[2016-03-19 23:22] johannesjo opened #171 "Automatically created crud interface"
I created a yeoman generator to automatically create inputs based on the loopback model definitions (https://github.com/johannesjo/generator-angular-auto-admin-loopback). I was  wondering if there maybe is a sensible way to integrate this into loopback-angular-admin.

[2016-03-21 10:54] amiashraf opened #172 "How to run the project with production mode"
Dear Team,
I am using the repository for my project and I was wondering to use the compressed js and css file (dist) for production mode.
May be the issue is irrelevant at this moment, but I was wondering to increase the performance of my project.
So far my project is taking so long and I am a bit frustrated.
Can you guys help me about?
Thanks in advance

[2016-03-24 04:29] beeman commented on #171
Hey @johannesjo , thanks for your message. Your generator and the the sample project look nice :)

It would be absolutely nice to have some generators for this application but I'm not sure if it's clever to build it in the current state of the app.

Since building this app I've learned a lot about these technologies and in my free time I'm playing around with a new proof of concept for this admin

[2016-03-24 04:32] beeman commented on #172
Hi @amiashraf , can you give some more details of what performance issues you have?

I've not used the project as-is in production mode and as said in the readme, it is not ready for production. You probably need to change stuff in order to get it working properly.

If you have some specific questions me or someone else might be able to help.

[2016-03-24 04:33] beeman commented on #170
Hi @amiashraf , can you check if you have the same issues with this project? https://github.com/strongloop/loopback-sandbox

[2016-03-24 04:42] beeman commented on #168
Hi @BrainsoftLtd , in my free time I'm working on a proof of concept of an ES6 version of this app. It will basically be a rewrite that uses webpack to bundle run the frontend.

I've used an [early version](https://github.com/preboot/angular-webpack/tree/673a6b6080118c378a501701075d10648f8b076a) of [this project](https://github.com/preboot/angular-webpack) to build the frontend on.

As soon as I h

[2016-03-24 05:07] #167 closed

[2016-03-24 05:08] beeman commented on #167
@hoangtrongphuc Thanks for creating this issue. This should work again with the latest master, thanks to the solution I found here: https://github.com/strongloop/strong-arc/issues/900

Can you please try it?

[2016-03-24 05:15] #165 closed

[2016-03-24 05:16] beeman commented on #165
Thanks for creating the issue and thanks a lot for the fix @hdeshmukh ! I've just added it to the master branch.

Can you please verify that it now works as expected?

[2016-03-24 05:17] #159 closed

[2016-03-24 05:17] #156 closed

[2016-03-24 05:18] beeman commented on #153
Hi @ezburg , I won't add it in this version of the project. In the next version there will be support for sass. Closing the issue for now. :)

[2016-03-24 05:18] #153 closed

[2016-03-24 05:19] beeman commented on #142
The one-line install mentioned in the readme should work on a machine with enough capabilitues. If not, please reopen the issue.

[2016-03-24 05:19] #142 closed

[2016-03-24 09:15] hoangtrongphuc commented on #167
Yes, i tried and it's worked fine. Thank you

[2016-03-24 17:22] johannesjo commented on #171
Hey @beeman! Thank you very much for answer. I'm curious to see, how this all turns out :)

[2016-03-26 22:18] BrainsoftLtd commented on #168
I have just started my own boilerplate using webpack and ES6 based on a number of projects found here, including this one, with combined lessons learned. I'll try to make it into a public one later, and share it.

[2016-03-28 00:55] beeman commented on #139
At this moment this project is not directly suitable to do this. You can probably replace this API with your existing one and modify the client to work with those models, but it currently is a manual process.

Eventually the idea is to have generators that can help you with that. In the mean time I suggest you to look at a project like [BoLaMN/loopback-component-admin](https://github.com/BoLaMN/lo

[2016-03-28 00:55] #139 closed

[2016-03-30 16:15] ianseyer commented on #139
Wait, I want to make sure that I am understanding this correctly:

this admin backend was designed specifically for a specific set of models?

[2016-03-30 16:20] beeman commented on #139
It's designed to be a base that is easily extended and it comes with a pre-defined set of models.

In it's current state it's not a plug-and-play admin interface for each LoopBack API you connect it to.

[2016-03-30 18:01] beeman commented on #139
Another tool that might be helpful is this generator [johannesjo/generator-angular-auto-admin-loopback](https://github.com/johannesjo/generator-angular-auto-admin-loopback).

[2016-03-30 18:09] beeman commented on #168
Looking forward to see what you're working on @BrainsoftLtd.

Let me know when it's public, than I'll add it to the [Related Projects](https://github.com/beeman/loopback-angular-admin#related-projects) section of the README.

[2016-03-30 18:09] #168 closed

[2016-03-30 18:10] #172 closed

[2016-03-30 18:10] beeman commented on #171
@johannesjo I'll let you know once it's done.

Btw, I've added your project to the list of [Related Projects](https://github.com/beeman/loopback-angular-admin#related-projects) in the README.

[2016-03-30 18:10] #171 closed

[2016-03-30 18:11] #170 closed

[2016-03-30 18:13] beeman commented on #136
There is currently not an easier way of doing this than what @denzelwamburu suggests.

In the future there might be a generator for this, possibly based on this project: https://github.com/johannesjo/generator-angular-auto-admin-loopback

Also see https://github.com/beeman/loopback-angular-admin/issues/139 and https://github.com/beeman/loopback-angular-admin/issues/171 .

[2016-03-30 18:13] #136 closed

[2016-03-30 18:15] beeman commented on #126
@kentyap the bug with the social login should be fixed. Please reopen this ticket with a bit more specific info or open a new one if you still have issues with the ACL's. It would be helpful if you have a fork that shows the issue.

[2016-03-30 18:15] #126 closed

[2016-03-30 18:16] #129 closed

[2016-03-30 18:18] beeman commented on #141
@denzelwamburu This has probably to do with your proxy configuration that is proxying 0.0.0.0. Another option would be to set the API_URL as described in the README.

[2016-03-30 18:18] #141 closed

[2016-03-30 18:20] beeman commented on #124
Not sure if this is still relevant or how to reproduce it, it seems to work fine when I run it on a remote instance. Please reopen with steps to reproduce if the issue is still relevant.

[2016-03-30 18:20] #124 closed

[2016-03-30 18:21] #111 closed

[2016-03-30 18:21] #110 closed

[2016-03-30 18:22] beeman commented on #109
Social login should work again. Please reopen this issue if the issue is still relevant, with steps to reproduce. Thanks!

[2016-03-30 18:22] #109 closed

[2016-03-30 18:23] beeman commented on #103
What I notice from the screenshot is that it's trying to reach the api at port 9000 instead of 3000. Not sure if that's what's causing the issue.

I'm closing this for now, please reopen the issue with steps to reproduce if the issue is still relevant.

[2016-03-30 18:23] #103 closed

[2016-03-30 18:24] beeman commented on #96
Should be fixed. If not, please reopen the issue with some steps to reproduce. Thanks!

[2016-03-30 18:24] #96 closed

[2016-03-30 18:25] beeman commented on #113
This is out of the scope of this project.

Please refer to StrongLoop's documentation on how to work with those tools.

That being said, if you found some steps I would welcome them in the README.

[2016-03-30 18:25] #113 closed

[2016-03-30 18:28] beeman commented on #119
Data browser is in place, closing this issue.

[2016-03-30 18:28] #119 closed

[2016-03-30 18:28] beeman commented on #114
This issue should be fixed. If not, please reopen with the steps to reproduce.

[2016-03-30 18:28] #114 closed

[2016-04-12 13:46] PhilippeCorreges opened #173 "Implement flow for password recovery, changing password, use passport local strategy"
Hi !
A useful feature would be to integrate the workflows for password recovery, change password ad verified password as given by strongloop for passport local strategy.

Thanks for the great job!

Philippe

[2016-04-12 14:40] PhilippeCorreges opened #174 "Memory leaks?"
Hi,
I have the same issue with node 5.10 and node 5.5.
I git clone the repo and run a npm install on my package.json and then start server.js.
The explorer is showing and working!

Nevertheless I am getting those errors in the console:/usr/local/bin/node server.js
Configuring passport
(node) warning: possible EventEmitter memory leak detected. 11 connected listeners added. Use emitter.setMaxListen

[2016-04-13 18:30] beeman commented on #174
Hi @PhilippeCorreges , can you give some information/specs about the machine where your are running it on?

[2016-04-13 18:31] beeman commented on #173
Hi @PhilippeCorreges, yes this would be absolutely welcome. At work we've created a password recovery flow, I will try to see if I can port that functionality to this app.

I haven't looked into the passport strategy, a PR for that is welcome.

[2016-04-15 02:26] slgoldberg opened #175 "Show edit links only when user has edit privilege (or is admin)"
There are many cases where relying on a 401 interceptor to present the login view is "too late" both from a usability perspective, and from a complexity perspective (i.e., it turns some state transition logic on its side).

In the [README "TODO" notes](https://github.com/beeman/loopback-angular-admin#todo) for this project, you mention two wish-list items that seem to map directly to this issue:

[2016-04-15 02:50] beeman commented on #175
Hi @slgoldberg, thanks for you message

The main reason that I haven't implemented this is, or any ACL at all, is because I have been too busy with my job over the last few months. I've learned a lot during the last year and I hope to be able to release an improved version of this project over the next few months. Currently it's not realistic to set any date though, I'm working on this in my free

[2016-04-18 10:06] PhilippeCorreges commented on #174
Hi beeman
this is a mac :
OS El Capitan
8Go Memory
2,7 GHz Intel Core i5

[2016-04-18 13:39] PhilippeCorreges commented on #174
I have just tested it on another machine : Same error : /usr/local/bin/node server.js
Configuring passport
(node) warning: possible EventEmitter memory leak detected. 11 connected listeners added. Use emitter.setMaxListeners() to increase limit.
Trace
    at DataSource.addListener (events.js:239:17)
    at DataSource.once (events.js:265:8)

[2016-04-19 09:57] PhilippeCorreges commented on #174
This has something to do with passport.js in boot folder.
I tried with another providers.json (Working on another app with correct links ....) and the problem is the same.
In passport.js the code had the problem with:

AuthProvider.create(entry, function(err, data) {
          if (err) {
            console.log(err);
          }
        });

That is why I went to see where the problem comes from.

[2016-04-19 10:40] PhilippeCorreges commented on #158
Same Issue here :

https://github.com/driftyco/ionicons.git#2.0.0
remote:        bower                                                 ECONFLICT Unable to find suitable version for angular-animate
remote:
remote:
remote:
remote: -----> Build failed
remote:
remote:        We're sorry this build is failing! You can troubleshoot common issues here:
remote:        https://devcenter.heroku.com/articles

[2016-04-19 15:18] helgetan commented on #158
Same Problem here, different Reason:
This brings me to the question, why do you use bower, most packages are available now on npm?

       bower
       ECONFLICT Unable to find suitable version for angular-translate
        -----> Build failed

       We're sorry this build is failing! You can troubleshoot common issues here:
       https://devcenter.heroku.com/articles/troubleshooting-node-deploy

[2016-04-19 16:52] beeman commented on #158
@helgetan this will be fixed in the coming next update (no date yet) where the frontend will be using NPM, webpack, babel and ES6.

If anyone has an idea on how to fix this current issue with Heroku I'm more than happy to accept PR's.

[2016-04-25 16:18] amirtasleem opened #177 "Passport LDAP"
Hi @beeman, firstly thanks for the great job! I was trying to connect to LDAP but the social login gives the error
Loopback
404 Error: Cannot GET /auth/msad
   at raiseUrlNotFoundError (D:\inetpub\wwwroot\development\CapEx\node_modules\loopback\server\middleware\url-not-found.js:15:17)
   at Layer.handle [as handle_request] ...

p.s. providers.json settings are tested in @OwenBrotherwood loopback-

[2016-05-06 10:32] AvivLander opened #178 "Angular 2 conversion in the mix?"
Just curious if there are any plans to convert this project to Angular 2? Has anyone started working on it?

[2016-05-06 19:59] beeman opened #179 "Migrate to ES6"
I have started working on migrating this project to ES6. I'm working on this in the [develop branch](https://github.com/beeman/loopback-angular-admin/tree/develop).

The version in this branch will be the first 1.0.0 release.
### Todo
- [x] Install babel to enable usage of ES6 on the back-end
- [x] Install and configure ESLint rules based on [standardjs](standardjs.com) (with some additions)
- [x]

[2016-05-06 20:09] beeman commented on #178
Hi @AvivLander , the first priority for this project is modernizing it by using Babel and WebPack in order to enable usage of ES6 in the server side and front-end. I've started working on that [here](https://github.com/beeman/loopback-angular-admin/issues/179).

Once NG2 is final I will include it so it can be used next to NG1, and most likely update a few parts of the app.

Currently the NG2 proj

[2016-05-09 01:46] beeman commented on #168
Hey @BrainsoftLtd , just a heads-up to inform you that I have a working version with ES6 in the [develop branch](https://github.com/beeman/loopback-angular-admin/tree/develop) .

It still has some rough edges, but the majority is migrated and works.

You can follow the progress or add comments [here](https://github.com/beeman/loopback-angular-admin/issues/179)

[2016-05-09 01:54] beeman commented on #158
@helgetan There is a version in the [develop branch](https://github.com/beeman/loopback-angular-admin/tree/develop) that uses `npm` over `bower`. Feel free to test it and give [feedback](https://github.com/beeman/loopback-angular-admin/issues/179) :)

[2016-05-10 11:38] shalkam opened #180 "Create a generator for the front end modules"
Hi,
I just wanted to know if there is a specific generator has been used for the angular modules here.

Thanks.

[2016-05-10 15:53] beeman commented on #180
Hi @shalkam,

In the beginning of the project I used [generator-angular](https://www.npmjs.org/package/generator-angular). The angular modules have changed a lot though, to it's no longer compatible, as stated in the README.

I'm working on an enhanced version in the [develop branch](https://github.com/beeman/loopback-angular-admin/tree/develop), and I think it will be a nice addition to have gene

[2016-05-10 15:56] beeman commented on #171
@johannesjo I've published the work in progress for the new structure in the [develop branch](https://github.com/beeman/loopback-angular-admin/tree/develop), it can be followed here #179

I've added a separate story for creating a generator for the modules using the new structure here #180 , feel free to chime in!

[2016-05-12 15:46] beeman commented on #175
Closing issue as work is being done in #176

[2016-05-12 15:46] #175 closed

[2016-05-12 16:42] arthur791004 commented on #158
Hi,

I deploy develop branch to heroku, but I get the following result:

How can I deal with it ?

Here it my step:

1. git clone https://github.com/beeman/loopback-angular-admin.git
2. cd loopback-angular-admin
3. heroku apps:create <app name>
4. git push heroku develop:master

Or how can I deal with the above problem PhilippeCorreges  and helgetan asked?

Thanks.

[2016-05-12 16:47] beeman commented on #158
@arthur791004 I haven't tested this, but this is most likely caused by the lack of a build step in the current develop branch, I didn't think about it before recommending to try the develop branch on heroku.

In `npm postinstall` it should run webpack in order to build a `dist` version of the front end, that is served on the default port. I have a task in issue #179 to fix this.

[2016-05-13 02:51] Necter opened #181 "Cannot read property 'then' of undefined"
Hello,

Thank-you for providing this starter project. It installed without any problems. I'm able to bring up the app, however. I receive the error "Cannot read property 'then' of undefined." I'm on a Windows 7 machine. Any insight into what I can do to fix this issue would be greatly appreciated.

![image](https://cloud.githubusercontent.com/assets/6878744/15236485/f367b570-1892-11e6-8836-36d86ac

[2016-05-13 03:47] arthur791004 commented on #158
Hi,

I fixed the problem  PhilippeCorreges and helgetan mentioned by adding the resolutions for angular-animate and angular-translate, so it can work on heroku successfully.

Therefore, I would try the master temporarily and expect the release of develop version.

Thanks for the quick reply!

[2016-05-13 11:09] johannesjo commented on #171
Hello @beeman thanks for letting me know. Currently I'm unable to run the app as I'm getting the following errors:
[code]

Ideally I would try to find a way to keep both repositories independent from each other and to look for a way to drop in the auto generation in some kind of form.

Also it would be very handy to have a jshint and jscs files with the settings you like, so that I don't have to r

[2016-05-13 11:16] johannesjo commented on #171
Ok I've fixed the env problem. But the event emitter problem still persists:
[code]

[2016-05-13 15:04] johannesjo commented on #171
Don't know somehow I can't access the client folder at all currently. I'm not sure how to properly setup the current develop branch.

[2016-05-13 18:29] beeman commented on #171
Hi @johannesjo, thanks a lot for your messages. I'm sorry to hear that you had a hard time getting the  project up and running, I should have documented it more clearly.

I've made some adjustments and added some instructions that should help you getting a working dev environment. They are at the top of the [README](https://github.com/beeman/loopback-angular-admin/tree/develop#quick-start-for-the-

[2016-05-14 00:33] beeman commented on #171
@johannesjo in regards to your question about jshint/jscs, this project is using `eslint` and has an `.editorconfig`, that should be sufficient to configure your IDE. If not, let me know what you are missing :)

[2016-05-14 00:58] beeman commented on #181
Hi @Necter , thanks for your interest in this project.

I'm not sure what is going wrong here, but what I do notice are the error messages down in the console, it looks like the app is trying to connect to `http://localhost`, without a port.

Can you shed some light on how you are running and starting the project? Do you get any error messages in the command line?

[2016-05-14 01:03] beeman commented on #177
Hi @amirtasleem ,

I haven't tried this yet, but did you install the `passport-ldapauth` package?

[2016-05-14 08:46] amirtasleem commented on #177
Hi @beeman thanks of the reply I have managed to get that sorted by reinstalling the package.
Many Thanks.

[2016-05-14 12:54] beeman commented on #177
That's good to hear! Good luck!

[2016-05-14 12:54] #177 closed

[2016-05-14 21:05] Necter commented on #181
Regarding the missing host: Apologies, I accidentally deleted the port number in the instance that I ran for that screenshot. I've since fixed it and get a similar error in the Chrome:

![image](https://cloud.githubusercontent.com/assets/6878744/15270666/7379bdae-19f5-11e6-8bac-e8591196e1f6.png)

No, there are no errors in the command window/console:

![image](https://cloud.githubusercontent.com/a

[2016-05-18 15:43] do4 commented on #181
+1: Just did a clean install no modifications and get the same error. Master branch, latest commit 9923cdc. OS/X 10.10, Chrome 50, Node 4.4.4.

[code]

Clean install of the `develop` branch, latest commit 3303664, doesn't have this issue.

[2016-05-18 15:43] yieme commented on #181
+1: Just did a clean install no modifications and get the same error. Master branch 9923cdc. OS/X 10.10, Chrome 50, Node 4.4.4.

[code]

Did a clean install of the development branch and it doesn't have this issue.

[2016-05-18 18:30] yieme commented on #181
Noticed version of node in package.json is 5.5.0 so upgraded. Problem persists.

[2016-05-19 01:17] beeman commented on #181
It looks like it had something to do with the versions of the dependencies that `bower install` asks for:

[code]

I've just updated master to pin these versions. Can you please try if this fixes the issue @Necter and @yieme?

[2016-05-19 17:03] Necter commented on #181
Yes, it fixes the issue. It come up and I am able to login as the admin. Thank-you very much for your help!

[2016-05-19 17:40] beeman commented on #181
Awesome @Necter! Good luck with the project!

[2016-05-19 17:40] #181 closed

[2016-05-22 11:53] mpavlidis opened #182 "side menu"
i want to ask how can i add a new tab on the left menu ??
for example we have events and i want to create events2.

thanks

[2016-05-24 11:26] PhilippeCorreges commented on #179
Hi!!
Thanks for your help and sorry for the late reply.
Some issues still here :
I upgraded node to 6.2.0 and strongloop to 2.28.0 (Latest stable) => deprecated warnings in package.json :
npm WARN deprecated graceful-fs@3.0.8: graceful-fs v3.0.0 and before will fail on node releases >= v7.0. Please update to graceful-fs@^4.0.0 as soon as possible. Use 'npm ls graceful-fs' to find it in the tree.
n

[2016-05-31 14:37] PhilippeCorreges opened #183 "New possible feature"
Hello,

A new possible feature would be to have the client side in angular2 since the releases are stable now.

Thanks

[2016-06-09 14:38] whispers16 commented on #182
in every module folder there's another config folder, and inside there's a .config.js
and you can see in the first lines the way to add a new menu (with the $rootScope), for example:

`$rootScope.addMenu(gettextCatalog.getString('events2'), 'app.events.events2', 'fa-calendar');`

Hope that helps!

[2016-06-14 00:01] Acaspita opened #184 "What about updating everything to apiconnect ?"

[2016-06-20 11:15] PhilippeCorreges opened #185 "API Check"
Hello,
My server is checking for online APIs with the following message :
![capture d ecran 2016-06-20 a 13 13 46](https://cloud.githubusercontent.com/assets/11230777/16192312/dac11fc4-36e8-11e6-9b33-476642ec2fd2.png)

Any idea where I could prevent API test before loading and also changing the path for /containers/files ?

I ran over the code and still have no clue.

Thanks and Regards,

[2016-06-20 14:41] dmastag commented on #185
Just a guess here, but has the database been created and loopback connector been installed?

[2016-06-20 14:59] PhilippeCorreges commented on #185
In fact, I was just stating the server with a npm start ... whilst gulp must be used here.
Gulp serve solves the issue.

[2016-06-20 14:59] #185 closed

[2016-06-23 15:27] PhilippeCorreges opened #186 "Enhancement request"
Hi Beeman.

**Tested on Safari only** : If cookies are set to blocked, an error is thrown :
SecurityError: DOM Exception 18: An attempt was made to break through the security policy of the user agent.
It does exist a webkit issue raised on it : https://bugs.webkit.org/show_bug.cgi?id=137760

So maybe the app should show a warning on not using cookies on "certain browsers." :)

Best,

Philippe

[2016-07-04 13:53] PhilippeCorreges opened #187 "Questions :"
Hello,
Is there a quick way to show another page than /login state when starting the app ?

Thanks

Philippe

[2016-07-04 14:15] PhilippeCorreges commented on #187
Just modified :

if ($location.path() === '/router' || $location.path() ===
                '/login') {
                console.log('401 while on router on login path');
              } else {
                if ($location.path() !== '/register') {
                  $location.path**('/')**;
                }

and created a state like :

.state('index', {
        url: '/',
        template: '<div>h

[2016-07-04 14:15] #187 closed

[2016-07-08 10:34] hxliujing opened #188 "properties的List能否支持"
现在好像只支持单个k,v 操作
不支持properties的List或Map操作

[2016-07-08 15:19] beeman commented on #188
Hi @hxliujing can you please submit the issue in English?

[2016-09-01 03:32] radinaladesudiarsa opened #189 "grunt"
no cammand grunt,how to fix?

[2016-09-08 21:52] wtlam commented on #146
hi thanks in advance for help.

 i have the same error, and i made sure there is no services running at :3000 and i also copied over the provider.json

error as following, just wondering who did you fix it?

  boot:02-load-users Creating roles and users +0ms
  boot:03-load-content Creating categories and products +5ms
loopback deprecated loopback.cookieParser is deprecated. Use `require('cookie-pa

[2016-09-11 12:03] hieuvecto opened #190 "[Help] Cannot sign in when deploy on Windows 10"
When i was trying to deploy your project on Windows 10, it didn't work. Here the screenshots:
![issue](https://cloud.githubusercontent.com/assets/16593431/18417098/08c6d126-7851-11e6-891f-1df3e586133e.png)
Then i tried in localhost:3000, it worked, but cannot sign in and it generated a lot of errors.
![issue1](https://cloud.githubusercontent.com/assets/16593431/18417117/5219ca5e-7851-11e6-81e3-57c

[2016-09-11 12:05] hieuvecto commented on #190
Here is the full error log :

[code]

[2016-09-11 12:49] hieuvecto commented on #190
Yeah! My friend just fixed it. Just replace all 0.0.0.0 in gruntfile.js into localhost

[2016-09-15 14:12] wtlam opened #191 "[HELP] blank screen"
hi,

thanks in advance for your help #

i have loopback-angular-admin setup on my linux box.

i have mongo db installed and configured,

there is no error when i start "npm start"

however, when i open http://{my linux ip}:3000 on my windows, i am not seeing anything, no error, just a blank screen. have anyone seems this before?

$ MONGODB_URL="mongodb://localhost:27017/loopback-angular-admin" npm

[2016-09-26 18:45] dawinjayesh commented on #191
i am facing the same issue. I am i doing anything wrong ?

[2016-09-29 04:02] Royweb opened #192 "When the error will be logged in"
I have problems when the application live, there are error messages like this, if anyone can help me

![screenshot from 2016-09-29 13-52-36](https://cloud.githubusercontent.com/assets/10422337/18943801/060b3e32-864c-11e6-914f-9015f5d1c447.png)

[2016-10-02 21:57] molinojopiento opened #193 "How I can manually create the modules?"
Is there any tutorial ?, because copy and paste a module, but not seen in the lateral menu.

Please help me. Thanks! 💃

[2016-10-06 21:05] lealexandre opened #194 "How do i retrieve the admin access token in the explorer?"
Hi,

After installing the script without any issues, I tried to run it. But I got a blank screen and got this error in the console:

I believe the error is from this file: index.html

Does anyone have any suggestions?

Thanks

Alexandre

[2016-10-10 18:05] #194 closed

[2016-10-10 18:06] lealexandre opened #195 "Error while running..."
Hi,

After installing the script without any issues, I tried to run it. But I got a blank screen and got this error in the console:

I believe the error is from this file: index.html

Does anyone have any suggestions?

Thanks

Alexandre

[2016-10-18 20:20] n8stowell82 opened #196 "How to run client without Grunt serve?"
Hello, first off this app is a lifesaver.  I have been able to rapidly build out my own app and have been able to do with very little problems.  I am at the point where I am trying to deploy this app to another server, but am completely stuck.  I can run "grunt serve" fine, and the app will run, but what I need is to serve the app without grunt.  This app will be deployed to a windows server machi

[2016-11-14 06:32] KratiChauhan opened #197 "Not able to run server and client"
Hello Beeman

I am trying to install your package and while following installation steps, i am stucked and not able to run the server and client. Apologies if my questions are very basic but I am pretty new to node, angular and loopback.

What have i done so far :

1. Installed Dependencies
2. Done one liner installation successfully

Where am I facing issue ?

1. Am not able to quite understand w

[2016-11-14 06:44] KratiChauhan commented on #197
ok so one post where they have mentioned to replace the 0.0.0.0 to localhost has helped me open up the application for now. Keeping the issue open for any further queries if i might have and also for documentation update so that other users using it on windows do not face same problem

[2016-11-17 06:08] taoyuan commented on #188
@beeman @hxliujing means that can loopback-angular-admin support `List` or `Map` type properties?

[2016-11-21 10:31] KratiChauhan opened #198 "[HELP] Project Purpose"
Hello

i am exploring your project as we have a need to create UI for loopback admin. But i am not able to understand the purpose of this project. Will this help me to
1. Create a new loopback project from scratch ?
2. Allow me to manage the existing / new created loopback project (created from command prompt) , if yes, then what all can I do in this ?

[2016-11-21 11:37] KratiChauhan commented on #196
Hey...can you help me getting ramped up to this tool for building app...i need to as well build apps but am stucked and documentation provided is not enough for a novice like me. A quick steps on how to define my database, models and app will be very useful

[2016-11-21 12:17] suriyaJaay opened #199 "nodemailer.?"
its really awesome to work with it. well it could be better if it has contact list, with that one can able to send mail(with customized or inbuilt template) to selected contacts from list or all contacts from the list with nodemailer.!!!

[2016-11-21 20:34] raymatos opened #200 "error when running grunt"
[code]

using node 7.0.0

[2016-11-22 05:46] KratiChauhan commented on #191
try updating apiurl and siteurl in client-->js-->config.js file to either localhost or your linux ip.
That helped me solve the problem when my screen was not opening. Let me know if I not working as I am able to atleast make the screen work but am struggling to understand the tool and customize it to my need.
Hopefully once your issue is resolved you can help me further :)

[2016-11-23 05:12] KratiChauhan commented on #199
Hi SuriyaJaay

Can you help me understand the purpose of this project and how can we customize it ?

[2016-11-23 06:41] KratiChauhan commented on #193
Not working for me as well....waiting for a solution

[2016-11-23 18:16] beeman commented on #198
Hi @KratiChauhan,

The project is meant as a starter to build your own projects. It will not help you in building a project from scratch. It comes with a couple of models and interfaces for those models, and you can adjust them to your needs.

You can hook it up to an existing loopback api, and then add the modules you need to the frontend.

[2016-11-23 18:18] beeman commented on #199
Hi @suriyaJaay,

While I understand why this would be nice to have, I currently have no plans to further extend the functionality of the app.

The first things I will work on are a rewrite of the UI in Angular 2. After that I will add support for Loopback 3.

[2016-12-26 02:30] suryakand opened #202 "Migrate to Angular2"
I have been playing with Angular2 Loopback SDK (have a look at):
https://loopback.io/doc/en/lb2/Angular-2-SDK.html
https://github.com/mean-expert-official/loopback-sdk-builder

It looks very promising. This gives us all benefits of typescript and Angular2.

[2016-12-26 05:02] beeman commented on #202
Hi @suryakand, thanks for you message.

Good question. I have been playing too with the great loopback-sdk-builder and as we speak I'm working on a re-write of this project using Angular 2.

The last 2 days I've been testing if LoopBack 3 would be a good fit but I decided to keep it with LoopBack 2 at this point, as a there are a lot of mixins for version 2 that I'd like to include.

I'll post mor

[2016-12-26 05:14] #199 closed

[2016-12-26 05:15] beeman commented on #178
Follow up in this story https://github.com/beeman/loopback-angular-admin/issues/202

[2016-12-26 05:15] #178 closed

[2016-12-26 05:16] beeman commented on #179
Closing in favor of work on project based on Angular 2+ / TypeScript. Follow here https://github.com/beeman/loopback-angular-admin/issues/202

[2016-12-26 05:16] #179 closed

[2016-12-26 05:16] #25 closed

[2016-12-26 05:17] beeman commented on #37
Closing in favor of work on project based on Angular 2+ / TypeScript. Follow here https://github.com/beeman/loopback-angular-admin/issues/202

[2016-12-26 05:17] #37 closed

[2016-12-26 05:18] beeman commented on #57
Closing in favor of work on project based on Angular 2+ / TypeScript. Follow here https://github.com/beeman/loopback-angular-admin/issues/202

[2016-12-26 05:18] #57 closed

[2016-12-26 05:18] beeman commented on #128
Closing in favor of work on project based on Angular 2+ / TypeScript. Follow here https://github.com/beeman/loopback-angular-admin/issues/202

[2016-12-26 05:18] #128 closed

[2016-12-26 05:18] beeman commented on #125
Closing in favor of work on project based on Angular 2+ / TypeScript. Follow here https://github.com/beeman/loopback-angular-admin/issues/202

[2016-12-26 05:18] #125 closed

[2016-12-26 05:18] beeman commented on #123
Closing in favor of work on project based on Angular 2+ / TypeScript. Follow here https://github.com/beeman/loopback-angular-admin/issues/202

[2016-12-26 05:18] #123 closed

[2016-12-26 07:32] suryakand commented on #202
Thanks @beeman
I'll be happy to contribute if you need another helping hand.

[2016-12-28 23:06] developermhayden commented on #145
@Pinesy removing the storage folder made me see what the problem was:

I solved this by removing the following from the file .gitignore :
client/app/js/lb-services.js
client/app/js/config.js
client/app/index.html
client/coverage
storage/

In Heroku, it seams there is an issue with auto creating these files/folders, so I created those files/folders and their values got updated through the deploymen

[2017-01-01 20:00] beeman commented on #164
@bhayla the problem is that the MySQL tables are not defined. To do this you can use the Auto-migrate feature from LoopBack.

More info can be found here https://loopback.io/doc/en/lb2/Creating-a-database-schema-from-models.html

[2017-01-01 20:35] bhayla opened #203 "Grunt build fails with MySQL datasource"
Grunt build fails when i added mySql datasource

  "mysqldb": {
    "host": "localhost",
    "port": 3306,
    "database": "project",
    "username": "admin",
    "password": "****",
    "name": "mysqldb",
    "connector": "mysql"
  }

unclear why this is happening?? the datasource configuration work on loopback datasource example  https://github.com/strongloop/loopback-example-database

![image](

[2017-01-02 00:11] bhayla commented on #164
ahhh yes  I realized my problem starts with grunt build..
https://github.com/beeman/loopback-angular-admin/issues/203

is it the same solution ?

[2017-01-16 07:10] beeman commented on #61
This issue is created for the `v0.x` version of the project, which is no longer support nor maintained as of January 16th 2017. I'm therefore closing this issue.

All development effort will be put in the new version of the project that is named Colmena CMS.

[2017-01-16 07:10] #61 closed

[2017-01-16 07:10] beeman commented on #155
This issue is created for the `v0.x` version of the project, which is no longer support nor maintained as of January 16th 2017. I'm therefore closing this issue.

All development effort will be put in the new version of the project that is named Colmena CMS.

[2017-01-16 07:10] #155 closed

[2017-01-16 07:11] beeman commented on #203
This issue is created for the `v0.x` version of the project, which is no longer support nor maintained as of January 16th 2017. I'm therefore closing this issue.

All development effort will be put in the new version of the project that is named Colmena CMS.

[2017-01-16 07:11] #203 closed

[2017-01-16 07:11] beeman commented on #200
This issue is created for the `v0.x` version of the project, which is no longer support nor maintained as of January 16th 2017. I'm therefore closing this issue.

All development effort will be put in the new version of the project that is named Colmena CMS.

[2017-01-16 07:11] #200 closed

[2017-01-16 07:11] beeman commented on #198
This issue is created for the `v0.x` version of the project, which is no longer support nor maintained as of January 16th 2017. I'm therefore closing this issue.

All development effort will be put in the new version of the project that is named Colmena CMS.

[2017-01-16 07:11] #198 closed

[2017-01-16 07:11] beeman commented on #196
This issue is created for the `v0.x` version of the project, which is no longer support nor maintained as of January 16th 2017. I'm therefore closing this issue.

All development effort will be put in the new version of the project that is named Colmena CMS.

[2017-01-16 07:11] #196 closed

[2017-01-16 07:11] beeman commented on #195
This issue is created for the `v0.x` version of the project, which is no longer support nor maintained as of January 16th 2017. I'm therefore closing this issue.

All development effort will be put in the new version of the project that is named Colmena CMS.

[2017-01-16 07:11] #195 closed

[2017-01-16 07:11] beeman commented on #193
This issue is created for the `v0.x` version of the project, which is no longer support nor maintained as of January 16th 2017. I'm therefore closing this issue.

All development effort will be put in the new version of the project that is named Colmena CMS.

[2017-01-16 07:11] #193 closed

[2017-01-16 07:11] beeman commented on #192
This issue is created for the `v0.x` version of the project, which is no longer support nor maintained as of January 16th 2017. I'm therefore closing this issue.

All development effort will be put in the new version of the project that is named Colmena CMS.

[2017-01-16 07:11] #192 closed

[2017-01-16 07:11] beeman commented on #191
This issue is created for the `v0.x` version of the project, which is no longer support nor maintained as of January 16th 2017. I'm therefore closing this issue.

All development effort will be put in the new version of the project that is named Colmena CMS.

[2017-01-16 07:11] #191 closed

[2017-01-16 07:11] beeman commented on #190
This issue is created for the `v0.x` version of the project, which is no longer support nor maintained as of January 16th 2017. I'm therefore closing this issue.

All development effort will be put in the new version of the project that is named Colmena CMS.

[2017-01-16 07:11] #190 closed

[2017-01-16 07:12] beeman commented on #189
This issue is created for the `v0.x` version of the project, which is no longer support nor maintained as of January 16th 2017. I'm therefore closing this issue.

All development effort will be put in the new version of the project that is named Colmena CMS.

[2017-01-16 07:12] #189 closed

[2017-01-16 07:12] beeman commented on #188
This issue is created for the `v0.x` version of the project, which is no longer support nor maintained as of January 16th 2017. I'm therefore closing this issue.

All development effort will be put in the new version of the project that is named Colmena CMS.

[2017-01-16 07:12] #188 closed

[2017-01-16 07:12] beeman commented on #186
This issue is created for the `v0.x` version of the project, which is no longer support nor maintained as of January 16th 2017. I'm therefore closing this issue.

All development effort will be put in the new version of the project that is named Colmena CMS.

[2017-01-16 07:12] #186 closed

[2017-01-16 07:12] beeman commented on #184
This issue is created for the `v0.x` version of the project, which is no longer support nor maintained as of January 16th 2017. I'm therefore closing this issue.

All development effort will be put in the new version of the project that is named Colmena CMS.

[2017-01-16 07:12] #184 closed

[2017-01-16 07:13] beeman commented on #183
This issue is created for the `v0.x` version of the project, which is no longer support nor maintained as of January 16th 2017. I'm therefore closing this issue.

All development effort will be put in the new version of the project that is named Colmena CMS.

[2017-01-16 07:13] #183 closed

[2017-01-16 07:13] beeman commented on #183
Btw, Colmena CMS will be using Angular 2 :)

[2017-01-16 07:13] beeman commented on #182
This issue is created for the `v0.x` version of the project, which is no longer support nor maintained as of January 16th 2017. I'm therefore closing this issue.

All development effort will be put in the new version of the project that is named Colmena CMS.

[2017-01-16 07:13] #182 closed

[2017-01-16 07:14] beeman commented on #180
This issue is created for the `v0.x` version of the project, which is no longer support nor maintained as of January 16th 2017. I'm therefore closing this issue.

All development effort will be put in the new version of the project that is named Colmena CMS.

[2017-01-16 07:14] #180 closed

[2017-01-16 07:14] beeman commented on #174
This issue is created for the `v0.x` version of the project, which is no longer support nor maintained as of January 16th 2017. I'm therefore closing this issue.

All development effort will be put in the new version of the project that is named Colmena CMS.

[2017-01-16 07:14] #174 closed

[2017-01-16 07:14] beeman commented on #173
This issue is created for the `v0.x` version of the project, which is no longer support nor maintained as of January 16th 2017. I'm therefore closing this issue.

All development effort will be put in the new version of the project that is named Colmena CMS.

[2017-01-16 07:14] #173 closed

[2017-01-16 07:51] beeman opened #204 "Introducing: Colmena"
## 🍯 Colmena

~I have been working on a new version of this project and as of today it will be [available in a branch](https://github.com/beeman/loopback-angular-admin/tree/colmena-cms) in this project.~

~Once most of the functionality of the `v0.x` project is in place I will archive the current master and rename the github project to `colmena-cms` and move it to the [colmena](https://github.com/

[2017-01-16 07:57] beeman commented on #202
I made the project public and opened issue #204 to track it's progress.

[2017-01-16 07:57] #202 closed

[2017-01-16 08:02] beeman opened #205 "Tracking: rename project and move to colmena org"
- [x] Add Contributors file
- [x] Add Code of Conduct
- [x] Add https://github.com/kentcdodds/all-contributors
- [x] Rename branch `master` (`v0.x.x`) to `loopback-angular-admin`
- [x] Rename branch `colmena-cms` (`v1.0.0`) to `master`
- [x] Rename project from `loopback-angular-admin` to `colmena-cms`
- [x] Move project from user `beeman` to org `colmena`
- [x] Add branch `develop` and set to def

[2017-01-16 08:05] beeman opened #206 "Add multi-language support"
LoopBack Angular Admin supports translating the UI, this functionality should not get lost in the rewrite.

- [ ] Add Translation mechanism (ng2-translate/ngx-translate)
- [ ] Make strings in the UI translatable
- [ ] Document process for translating
- [ ] Get basic translations from the following files
  - [ ] German (de)
  - [ ] Mexican Spanish (es_MX)
  - [ ] French (fr)
  - [ ] Dutch (nl)
  -

[2017-01-16 08:06] beeman opened #207 "Build out basic Content Management"
- [ ] Add LoopBack SDK
- [ ] Add two-level sidebar
- [ ] System level
  - [ ] Setting (read)
  - [ ] User (create/read/update/delete)
  - [ ] Domain (create/read/update/delete)
- [ ] Domain level
  - [ ] Event (create/read/update/delete)
  - [ ] Post (create/read/update/delete)
  - [ ] Product (create/read/update/delete)
    - [ ] No models yet (look [here](https://github.com/beeman/loopback-angul

[2017-01-16 08:07] beeman opened #208 "Build out User Authentication"
There needs to be a way to log in to the application.

- [x] Use realms to authenticate (https://github.com/fullcube/loopback-example-advanced-access-control).
- [x] Create module for `auth`
- [x] Create components and routes for
  - [x] Login `/login`
  - [x] Logout `/logout`
  - [x] Register `/register`
  - [x] Request new Password `/password-request`
  - [x] Reset Password  `/password-reset`
-

[2017-01-16 08:10] beeman opened #209 "Create documentation"
- [ ] Decide on what to use for documentation
- [ ] Set up basic structure
- [ ] Document the following subjects
  - [ ] Design choices
    - [ ] Framework versions, etc
    - [ ] Data model
    - [ ] Directory structure
  - [ ] Extending the project
  - [ ] Contributing
    - [ ] MD file in Project Root
    - [ ] Templates for issues/PR's

[2017-01-24 08:44] htkv opened #210 "open"
sir how to open this template in my browser
actualy ,i have download this template and put my xampp server's htdocs folder like -
xampp/htdocs/loopback-angular-admin

but now problem is that which file open in browser that cauld show main page of admin

[2017-01-30 04:39] jjhesk opened #211 "when does it support LB3.0"
I have an existing Lb using the latest 3.0 as framework. Is this compatible to lb3.0?

[2017-01-30 04:43] beeman commented on #211
Hi @jjhesk,

As you can read in the announcement of the new version, LB3 will not yet be supported:

https://github.com/beeman/loopback-angular-admin/issues/204

Once the new version is out I will explore what needs to be done to support LB3 and to see if it's possible to support both.

That being said, the admin interface has nothing that is tied to LB2 so it might just work, but at this moment I

[2017-01-30 04:45] beeman commented on #210
@htkv this project is not just a template you put in your server, it's a project that you need to build and run using the Loopback server that comes with it.

Please read the project README to get a better understanding of how this works.

I hope this answers your question.

[2017-01-30 04:45] #210 closed

[2017-01-30 04:46] #211 closed

[2017-02-04 09:00] denzelwamburu commented on #204
:+1:
Am excited about this new project.

[2017-02-09 00:45] emrahcetiner opened #212 "3.x support?"
This project supports loopback version 3.0?

[2017-02-09 00:46] beeman commented on #212
Hi,.please see my answer here  https://github.com/beeman/loopback-angular-admin/issues/211  :)

[2017-02-09 00:46] #212 closed

[2017-02-12 17:27] beeman opened #213 "Colmena CMS needs to ship a mobile app"
The idea is to ship a starter mobile app that connects to the api. Because the admin is written in Angular it makes most sense to pick Ionic for this.

Some things that need to be includes:

- support all the content types from the api
- support authentication
- allow switching between domains
- multi language support
- easy theming

While this sounds like a lot of functionality, we should try to

[2017-02-15 10:12] enclass opened #216 "start error"
by running nps dev in the `colmena-cms` folder, I get this error:

[code]

[2017-02-15 15:21] beeman commented on #216
@enclass what version of Node and NPM are you using?

[2017-02-15 15:52] enclass commented on #216
@beeman upgrading node to >4.5 fixed the problem, thx

[2017-02-15 18:36] #216 closed

[2017-02-16 06:46] pulkitsinghal commented on #209
GitHub Wiki is good but `gitbook` is better ... I'm using it for training.shoppinpal.com and loving the markdown syntax.

[2017-02-17 15:15] beeman opened #217 "Upgrade LoopBack to v3"
### Bug or feature request

- [ ] Bug
- [x] Feature request

### Description of feature (or steps to reproduce if bug)

The API need to upgrade to LoopBack v3

[2017-02-17 19:06] beeman commented on #209
Thanks for your input @pulkitsinghal, I've already made a small start on GitBook https://colmena.gitbooks.io/developers-guide/content/.  I like working with it a lot too!

The repo is getting synced here https://github.com/colmena/colmena-docs

[2017-02-18 18:14] beeman opened #218 "Update p-s v3 to nps v5"
### Bug or feature request

- [x] Feature request

### Description of feature (or steps to reproduce if bug)

- Update to latest version of `p-s` now called `nps`
- Start using it with `concurrently` over `nps -p`

### More info
https://github.com/kentcdodds/nps/releases/tag/v5.0.0

[2017-02-18 22:40] pulkitsinghal commented on #209
@beeman - can I get access to contribute?

[2017-02-18 22:50] beeman commented on #209
@pulkitsinghal more than welcome 👍 thanks!

Just added you to the GitHub and GitBook org!

[2017-02-19 15:27] #205 closed

[2017-02-19 15:33] beeman opened #223 "Colmena CMS should have a simple deploy mechanism"
### Bug or feature request
- [x] Feature request

### Description of feature (or steps to reproduce if bug)
There should be an easy way to deploy a new instance of Colmena CMS, ideally using a one-click process with a button in the project README.

This allows people to quickly spin up an instance of the project to play around with it, and can help in finding and resolving issues.

### Extra info

[2017-02-19 15:37] beeman opened #224 "Colmena should provide a Docker setup"
### Bug or feature request
- [x] Feature request

### Description of feature (or steps to reproduce if bug)
There should a Dockerfile (or multiple) to run instance of Colmena in Docker.

### Extra info
- Use the latest node/alpine-docker image
- Probably one image per component (Admin/API)
- Optionally one image on the top-level that combines the two components

[2017-03-15 10:38] luisomoreau commented on #145
Thank you @LetsDoIt- and @developermhayden !
Both solutions work :)

[2017-03-27 08:22] ndjathe-ndjathe opened #234 "webpack: Failed to compile"
i have this error when i try to serve with nps dev in the admin folder

ERROR myDirectory/admin/src/main.ts (18,7): Cannot find name 'module'.

Please, help!

[2017-03-30 15:21] Priminus opened #235 "ACL Implementation"
Have ACLs been implemented? There were comments in December saying this change was going in :)

[2017-04-06 05:35] beeman commented on #235
Hi @Priminus , I still haven't found the time to do so. It's the first thing on the list to address though :)

[2017-04-09 03:35] beeman opened #237 "Current shipped version of sdk does not build"
### Bug or feature request

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

### Link to sample repo to reproduce issue (if bug)

### Expected result

### Actual result (if bug)

### Additional information (OS, Node.js version, etc)

[2017-04-09 16:19] beeman commented on #237
@zackarychapple I just updated the develop branch with the new SDK. Could you maybe verify if this solves the issue? Thanks!

[2017-04-16 23:57] denzelwamburu commented on #207
@beeman Whats the procedure for adding custom models to the CMS?
Added one and running into some errors.
![screen shot 2017-04-17 at 2 56 58 am](https://cloud.githubusercontent.com/assets/6532631/25075277/9225632e-2319-11e7-8630-3b2a1c958070.png)

[2017-04-16 23:58] denzelwamburu commented on #207
@beeman also fix the link provided above, returns a 404

[2017-05-13 04:24] kumorig opened #238 "AppService.fetchSettings() does not consider type, leading to booleans being incorrectly cast into strings."
### Bug or feature request

- [x] Bug

### Description of feature (or steps to reproduce if bug)
AppService.fetchSettings() does not consider type, leading to booleans being incorrectly cast into strings
I think the easiest is to output the values in `/admin/src/app/app.service.ts`:

    public dispatchSetting(setting) {
        console.log(setting);  // here
        this.store.dispatch({ type: 'A

[2017-05-15 05:36] kumorig opened #241 "initializing the database with sqlite3-connector gives "path.js:7 TypeError: Path must be a string""
### Bug or feature request

- [X] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
Steps to reproduce:
#### 1) Change `datasources.json` to use sqlite

`  "db"      : {
    "name"      : "db",
    "connector" : "sqlite3",
    "file"      : "pc2sp.db",
    "debug"     : true
  },`
#### 2) (Install loopback-connector-sqlite3 using npm)

#### 3) Run  `node . --verb

[2017-05-15 08:15] kumorig commented on #241
I found out that

And

So I believe you can close this. (I switched to https://github.com/Synerzip/loopback-connector-sqlite instead and have no errors as of yet.)

[2017-05-15 08:15] #241 closed

[2017-05-15 10:34] chetanbane opened #242 "How to work on this"
Hi,

I am new to this CMS I don't know much about this CMS.
I am using win7 32 bit

Currently My task to create simple cms for my static sites which we are going to convert in angular-4.

I decided to use this cms 3 days completed neither start admin nor front...

Please guide me on this

INITDB=1 nps dev
nps executing: nps -p dev.admin,dev.api
nps executing: cd admin && nps dev
nps executing: cd

[2017-05-15 11:43] chetanbane opened #243 "How to add WYSIWYG aditor"
I want to add WYSIWYG Editor How can I add....

### Bug or feature request

- [x] Bug
- [x] Feature request

### Description of feature (or steps to reproduce if bug)

### Link to sample repo to reproduce issue (if bug)

### Expected result

### Actual result (if bug)

### Additional information (OS, Node.js version, etc)

[2017-05-15 19:01] beeman commented on #241
@kumorig great find! Glad to hear it's fixed!

[2017-05-16 09:13] chetanbane commented on #242
Hi I have make some changes & it's work for me now
System Windows 7 32Bit

Please Follow below URL
https://github.com/colmena/colmena-cms

Colmena CMS Change to makes it Work
npm install -g win-node-env

colmena-cms\admin\protractor.conf.js
baseUrl: 'http://0.0.0.0:9000/', >> baseUrl: 'http://localhost:9000/',

colmena-cms\api\config\default.yaml
baseUrl: http://0.0.0.0:3000 >> baseUrl: http://loc

[2017-06-02 21:07] #238 closed

[2017-06-02 21:14] beeman commented on #242
@chetanbane the project should now be better usable on Windows.

Please try the latest develop branch. If it does not work, feel free to open a new issue and I'll make sure it works on Windows :)

[2017-06-02 21:14] #242 closed

[2017-06-02 21:16] beeman commented on #234
@ndjathe-ndjathe this should no longer be an issue with the latest version. Please let me know if it still fails

[2017-06-02 21:16] #234 closed

[2017-06-03 09:03] Praggie commented on #217
Hi @beeman any idea when colmena will be upgraded to LoopBack v3. Actually I am interested in using some of the features (Mulitple user models support ) of LoopBack 3 in my SaaS kind of Project. so wanted to know what kind of timelines I should keep in mind? Also Domain Concepts in current colmena seems to be similar to Organization concept in multiple user model described in LoopBack 3 documentat

[2017-06-04 21:48] beeman commented on #217
Hi @Praggie - I've just started working on support for version 3 in this branch: https://github.com/colmena/colmena/tree/beeman/upgrade-loopback . I hope to land it within a few days.

Feel free to give it a test and leave any feedback.

[2017-06-05 00:43] #237 closed

[2017-06-07 20:29] beeman commented on #217
Master now uses LoopBack 3 👍

[2017-06-07 20:29] #217 closed

[2017-06-07 20:31] beeman commented on #218
The package nps/p-s is no longer used in the last version of the project. The project achieves something similar by combining [npm-run-all](https://www.npmjs.com/package/npm-run-all) and [lerna](https://www.npmjs.com/package/lerna).

[2017-06-07 20:31] #218 closed

[2017-06-07 20:33] beeman commented on #204
Closing this story as it's no longer relevant.

[2017-06-07 20:33] #204 closed

[2017-06-08 07:35] beeman opened #252 "The breadcrumb component should display dynamic data"
### Bug or feature request

- [x] Feature request

### Description of feature (or steps to reproduce if bug)

It should be possible to display dynamic data in the breadcrumbs. For instance the username when editing a user.

[2017-06-13 02:04] beeman opened #265 "Warning: a promise was created in a handler at ../../loopback-boot/lib/executor.js:311:9"
[code]

This error is caused by the code in the script `apps/api/server/boot/10-init-settings.js`

[2017-06-13 09:09] beeman opened #270 "Implement modules for LoopBack"
### Bug or feature request

- [X] Feature request

### Description of feature

Implement 'content' and 'system' modules for the api similar to admin.

- [x] Implement `modules/api-content`
  - [x] Move models
  - [x] Move sample data
- [x] Implement `modules/api-system`
  - [x] Move models
  - [x] Move sample data
- [x] Implement `modules/api-storage`
  - [x] Move models
  - [x] Move sample data (

[2017-06-14 06:18] beeman commented on #265
Closing, will be fixed when #273 lands

[2017-06-14 06:18] #265 closed

[2017-06-14 08:24] beeman commented on #270
Fixed in #273

[2017-06-14 08:24] #270 closed

[2017-06-16 13:57] brannon-darby opened #283 "generator-generator"
Write a generator-generator. It should ask for the name and create a generators with 1 question, 1 file-copy action (package.json with the name set)

[2017-06-16 15:23] #208 closed

[2017-06-16 21:23] dmtw opened #286 "bug: npm run initdb broken"
### Bug or feature request

- [ x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
`npm run initdb`
produces this error after latest changes to `colmena/packages/api-helpers/src/helpers.js`:
`UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): TypeError: Cannot read property 'create' of undefined`.

### Link to sample repo to reprod

[2017-06-17 00:37] brannon-darby commented on #283
https://github.com/colmena/colmena-generator/pull/5

[2017-06-17 00:41] brannon-darby opened #287 "content/file-module"
Content/File Module: bring module in line with the System Modules

[2017-06-17 06:00] beeman commented on #286
Hi @dmtw, thanks for taking the time to create the issue.

I confirmed the bug, the sample data in the new `api-dev` module referenced a wrong, non-existing model.

I fixed the sample data and updated the sample data code to show a warning instead of an unhandled error.

[2017-06-17 06:04] #286 closed, assigned to nobody

[2017-06-17 09:59] #243 closed

[2017-06-17 10:00] beeman commented on #243
Hi @chetanbane, I've just added a wysiwyg editor.

[2017-06-18 08:52] brannon-darby opened #299 "content/page-module"
Content/Page Module: bring module in line with the System Modules

[2017-06-18 19:33] brannon-darby opened #301 "content/post-module"
Content/Post Module: bring module in line with the System Modules

[2017-06-18 19:34] brannon-darby opened #302 "content/event-module"
Content/Event Module: bring module in line with the System Modules

[2017-06-18 23:09] #299 closed, assigned to brannon-darby

[2017-06-18 23:09] #301 closed, assigned to brannon-darby

[2017-06-18 23:09] #302 closed, assigned to brannon-darby

[2017-06-19 09:34] #224 closed

[2017-06-19 10:01] beeman commented on #211
For anyone reading this issue, since a few weeks Colmena runs on LoopBack v3.

[2017-06-20 08:33] #287 closed, assigned to brannon-darby

[2017-06-20 23:14] brannon-darby opened #317 "content/dashboard-about"
Dashboard: About tab - Polish and some cars that show off LoopBack, Angular, SDK Builder, CoreUI.

[2017-06-21 07:20] #317 closed, assigned to brannon-darby

[2017-06-21 19:22] brannon-darby opened #319 "content/dashboard-password"
Dashboard: Password tab - Functionality + Polish from User/Edit/Profile tab

[2017-06-23 01:25] beeman opened #324 "Colmena's sample data should be a dummy website"
### Feature request

- [x] Feature request

### Description of feature (or steps to reproduce if bug)

Currently the sample data in Colmena consists of a lot of *Lorem Ipsum* text.

It would be great if there were a few dummy stories, events and pages so they can be linked to a website.

This should give the user a more interesting experience

[2017-06-23 21:38] brannon-darby opened #325 "content/dashboard-profile"
Dashboard: Profile tab - Functionality + Polish from User/Edit/Profile tab

[2017-06-24 03:24] #319 closed, assigned to brannon-darby

[2017-06-24 03:24] #325 closed, assigned to nobody

[2017-07-21 12:58] lehni commented on #150
For those looking for a solution to this LoopBack issue. When writing async code, during auto-migration, data-sources will observe as many 'connected' events as there are models.

Here a simple solution to prevent the error while still having a reasonable value for the maximum of listeners:

[code]

[2017-10-27 02:23] bartshappee opened #338 "API Crashes When Updating a User's Password as Admin"
### Bug or feature request

- [X] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

Cloned the repo & install everything
Setup local mongodb & initdb
npm run dev
Login as admin
Try and change manager@example.com password to manager

### Link to sample repo to reproduce issue (if bug)

https://github.com/colmena/colmena

### Expected result

The password to updat

[2017-10-27 10:17] beeman commented on #338
Hi @bartshappee

This should not be the case!

I can't seem to reproduce the issue though. Could you please paste the error message you get?

[2017-11-30 02:05] bartshappee opened #362 ""npm run dev" now broken on clean run"
### Bug or feature request
- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)

Can't start colmena after conversion to typescript

git clone https://github.com/colmena/colmena
npm install
lerna boostrap
npm run dev

### Link to sample repo to reproduce issue (if bug)

base repo

### Expected result

Launch colmena

### Actual result (if bug)
...
@colmena/col

[2017-11-30 02:13] bartshappee commented on #338
Newest version doesn't seem to have the issue
Although looking at the printed message when I reset the manager's password (http://127.0.0.1:9000/#/password-reset?token=8367864a-4516-4bad-bb18-b26f88832f29) the page loaded but nothing happend when I tried to reset the password

[2017-11-30 02:13] #338 closed, assigned to nobody

[2017-11-30 07:08] beeman commented on #362
Hi @bartshappee

Thanks a lot for taking the time to create this issue!

It should have been fixed in the `develop` branch, could you please verify?

Thanks! 👍

[2017-12-01 03:58] bartshappee commented on #362
Verified

[2017-12-01 03:58] #362 closed, assigned to nobody

[2017-12-03 09:44] thepriefy commented on #324
Hi,

I wanna fix this issue. Could you please give me the location of the file that needs changes?

Thx.

[2017-12-03 13:08] beeman commented on #324
That's awesome @thepriefy! That will be very useful!

Most of the actual content is currently imported from here:

https://github.com/colmena/colmena/tree/develop/modules/api/content/sample-data
https://github.com/colmena/colmena/tree/develop/modules/api/content/sample-files

If you have additional questions feel free to [join the slack room](https://colmena-slack.now.sh/) and give me a ping so I

[2017-12-03 13:12] thepriefy commented on #324
@beeman Thank you for the information ^ ^
I'll do it ASAP. :)

[2017-12-24 20:30] rvalenciano opened #364 "Is this project actively maintained?"

[2018-04-18 05:18] floresfactor commented on #364
😢

[2018-04-19 01:40] beeman commented on #364
So yeah, as the state of the repo shows there is currently no active work being done.

There are several reasons for that, one of the things is the upcoming release of LB4, and I'm unsure if there are upgrade paths and if I'm interested in building with that version altogether.

Another important thing to realise is that the fireloop project is retired and the sdk builder from that project will no

[2018-04-24 15:51] rvalenciano commented on #364
Thanks @beeman , I appreciate greatly your effort and all other maintainers/collaborators of this project :)

[2018-04-24 16:09] beeman commented on #364
Thanks for the kind words @rvalenciano - I really appreciate it!

At this moment I'm looking at working with [nestjs/nest](https:///github.com/nestjs/nest) and Angular, I just set up a monorepo [here](https://github.com/beeman/nest-angular-nx).

If I find some time and use case in the future I might try and get the ideas I had with Colmena out with Nest + Angular.

[2018-04-25 21:42] jonathan-casarrubias commented on #364
@beeman why don't you try the new [OnixJS](https://github.com/onixjs/core) Platform? The [SDK](https://github.com/onixjs/sdk) runs on any front-end framework is lighter, faster, smaller and runs on nodejs and even nativescript and reactnative, you might have much more flexibility for more complex solutions.

Try running the examples we have already

https://github.com/onixjs/examples

I mean other

[2018-04-27 11:09] suhelrose commented on #49
Help: Why do this happen ?

Configuring passport
Browse your REST API at http://0.0.0.0:3000/explorer
Web server listening at : http://0.0.0.0:3000/
Error: Cannot GET /dist/js/angular-strap.min.js.map
    at raiseUrlNotFoundError (/home/suhela/Documents/turf/turf-assistant-web/node_modules/loopback/server/middleware/url-not-found.js:15:17)
    at Layer.handle [as handle_request] (/home/suhela/Docu

[2018-09-16 15:14] rluvaton opened #365 "Dependencies are deprecated"
### Bug or feature request
Dependencies are deprecated

- [x] Bug
- [ ] Feature request

### Description of feature (or steps to reproduce if bug)
just clone the repo
`git clone https://github.com/colmena/colmena.git colmena`

### Link to sample repo to reproduce issue (if bug)
https://github.com/colmena/colmena.git

### Expected result
without deprecated dependencies

### Actual result (if bug)
[

[2018-09-17 21:18] beeman commented on #365
Hi @rluvaton , as you can read in [this comment](https://github.com/colmena/colmena/issues/364#issuecomment-382581859) the project is currently not being maintained.

I will add a bigger notice to inform the users about this.

[2018-09-17 21:18] #365 closed, assigned to nobody